{
  "openapi": "3.0.1",
  "info": {
    "title": "Mintlify Discovery API",
    "description": "An API to integrate Mintlify discovery features into your product.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-dsc.mintlify.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/assistant/{domain}/message": {
      "post": {
        "x-mcp": {
          "enabled": true
        },
        "summary": "Generate Assistant Message",
        "description": "Generates a response message from the assistant for the specified domain. For best results, use the [useChat hook from ai-sdk](ai-sdk.dev/docs/ai-sdk-ui/streaming-data) to send requests and handle responses. You can set `fp`, `threadId`, and `filter` in the `body` field of the options parameter passed to the hook.",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The domain identifier that can be found in the top left corner of the Mintlify dashboard"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fp",
                  "messages"
                ],
                "properties": {
                  "fp": {
                    "type": "string",
                    "description": "Browser fingerprint or arbitrary string identifier. There may be future functionality which allows you to get the messages for a given fingerprint"
                  },
                  "threadId": {
                    "type": "string",
                    "description": "An optional identifier used to maintain conversation continuity across multiple messages. When provided, it allows the system to associate follow-up messages with the same conversation thread. The threadId is returned in the response as event.threadId when event.type === 'finish'."
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "user",
                            "assistant",
                            "system"
                          ],
                          "description": "The role of the message sender"
                        },
                        "content": {
                          "type": "string",
                          "description": "The content of the message"
                        },
                        "id": {
                          "type": "string",
                          "description": "Unique identifier for the message"
                        }
                      },
                      "required": [
                        "role",
                        "content"
                      ]
                    },
                    "description": "Array of messages in the conversation. On the frontend, you will likely want to use the handleSubmit function from the @ai-sdk package's useChat hook to append user messages and handle streaming responses, rather than manually setting this array."
                  },
                  "retrievalPageSize": {
                    "type": "number",
                    "default": 5,
                    "description": "Number of retrieval results to return"
                  },
                  "filter": {
                    "type": "object",
                    "properties": {
                      "version": {
                        "type": "string",
                        "description": "Optional version filter"
                      },
                      "language": {
                        "type": "string",
                        "description": "Optional language filter"
                      }
                    },
                    "description": "Optional filter criteria for the search"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response object that streams formatted data stream parts with the specified status, headers, and content. This matches what is expected from the AI SDK as documented at [ai-sdk.dev/docs/ai-sdk-ui/streaming-data](https://ai-sdk.dev/docs/ai-sdk-ui/streaming-data). Instead of writing your own parser, it is recommended to use the [useChat hook from ai-sdk as documented here](ai-sdk.dev/docs/ai-sdk-ui/streaming-data)."
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}