{
  "openapi": "3.0.1",
  "info": {
    "title": "Mintlify External API",
    "description": "An API for Mintlify documentation management and resource access.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.mintlify.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "x-mcp": {
    "enabled": true
  },
  "paths": {
    "/project/update/{projectId}": {
      "post": {
        "summary": "Trigger update",
        "description": "Queue a deployment update for your documentation project. Returns a status ID that can be used to track the update progress. The update is triggered from your configured deployment branch.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "Your project ID. Can be copied from the [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) page in your dashboard.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "A successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusId": {
                      "type": "string",
                      "description": "The status ID of the triggered updated."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/project/update-status/{statusId}": {
      "get": {
        "summary": "Get update status",
        "description": "Get the status of an update from the status ID",
        "parameters": [
          {
            "name": "statusId",
            "in": "path",
            "description": "The status ID of a triggered update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string",
                      "description": "The status ID of the triggered updated."
                    },
                    "projectId": {
                      "type": "string",
                      "description": "The documentation project ID."
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "An ISODate with the specified datetime in UTC"
                    },
                    "endedAt": {
                      "type": "string",
                      "description": "An ISODate with the specified datetime in UTC"
                    },
                    "status": {
                      "type": "string",
                      "enum": ["queued", "in_progress", "success", "failure"],
                      "description": "The status of the update."
                    },
                    "summary": {
                      "type": "string",
                      "description": "Summary of the status of the update"
                    },
                    "logs": {
                      "type": "array",
                      "description": "An array of logs.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "subdomain": {
                      "type": "string",
                      "description": "The subdomain of the docs being updated."
                    },
                    "screenshot": {
                      "type": "string",
                      "description": "A screenshot of the docs."
                    },
                    "screenshotLight": {
                      "type": "string",
                      "description": "A screenshot of the docs."
                    },
                    "screenshotDark": {
                      "type": "string",
                      "description": "A screenshot of the docs in dark mode."
                    },
                    "author": {
                      "type": "object",
                      "description": "The author of the update.",
                      "nullable": true,
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The name of the author."
                        },
                        "avatarUrl": {
                          "type": "string",
                          "description": "URL of the author's avatar image."
                        },
                        "githubUserId": {
                          "type": "number",
                          "description": "The author's GitHub user ID."
                        }
                      }
                    },
                    "commit": {
                      "type": "object",
                      "description": "The commit details",
                      "properties": {
                        "sha": {
                          "type": "string",
                          "description": "The SHA of the commit."
                        },
                        "ref": {
                          "type": "string",
                          "description": "The ref of the commit."
                        },
                        "message": {
                          "type": "string",
                          "description": "The commit message."
                        },
                        "filesChanged": {
                          "type": "object",
                          "description": "Details on the changed files.",
                          "properties": {
                            "added": {
                              "type": "array",
                              "description": "New files added.",
                              "items": {
                                "type": "string"
                              }
                            },
                            "modified": {
                              "type": "array",
                              "description": "Existing files that were modified.",
                              "items": {
                                "type": "string"
                              }
                            },
                            "removed": {
                              "type": "array",
                              "description": "Files that were removed.",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "source": {
                      "type": "string",
                      "description": "The source of the update trigger.",
                      "enum": [
                        "internal",
                        "github-app-installation",
                        "api",
                        "github",
                        "dashboard",
                        "gitlab",
                        "onboarding"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/project/{projectId}/preview": {
      "post": {
        "summary": "Create preview deployment",
        "description": "Create a preview deployment for a specific branch. The deployment is built asynchronously. Use the returned `statusId` to poll for build status. Requires the `PREVIEW_DEPLOYMENTS` entitlement.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "Your project ID. Can be copied from the [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) page in your dashboard.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["branch"],
                "properties": {
                  "branch": {
                    "type": "string",
                    "description": "The Git branch to create a preview deployment from.",
                    "example": "feature/my-branch"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Preview deployment creation has been queued.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusId": {
                      "type": "string",
                      "description": "The status ID to poll for build progress."
                    },
                    "previewDeploymentId": {
                      "type": "string",
                      "description": "The unique identifier of the created preview deployment."
                    },
                    "subdomain": {
                      "type": "string",
                      "description": "The subdomain assigned to the preview deployment."
                    },
                    "previewUrl": {
                      "type": "string",
                      "description": "The URL where the preview deployment is accessible."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. The branch is missing or the source project is itself a preview deployment.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List preview deployments",
        "description": "List all preview deployments for a project. Returns the deployment ID, subdomain, branch, and preview URL for each preview.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "Your project ID. Can be copied from the [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) page in your dashboard.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of preview deployments.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "previews": {
                      "type": "array",
                      "description": "An array of preview deployments.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The preview deployment ID."
                          },
                          "subdomain": {
                            "type": "string",
                            "description": "The subdomain of the preview deployment."
                          },
                          "branch": {
                            "type": "string",
                            "description": "The Git branch the preview was created from."
                          },
                          "previewUrl": {
                            "type": "string",
                            "description": "The URL where the preview is accessible."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/project/{projectId}/preview/{statusId}/status": {
      "get": {
        "summary": "Get preview deployment status",
        "description": "Get the build status of a preview deployment using the status ID returned when the preview was created.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "Your project ID. Can be copied from the [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) page in your dashboard.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statusId",
            "in": "path",
            "description": "The status ID returned from the create preview deployment endpoint.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The preview deployment build status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["queued", "in_progress", "success", "failure"],
                      "description": "The current build status of the preview deployment."
                    },
                    "previewUrl": {
                      "type": "string",
                      "description": "The URL where the preview deployment is accessible."
                    },
                    "subdomain": {
                      "type": "string",
                      "description": "The subdomain of the preview deployment."
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "An ISO 8601 datetime string in UTC for when the build was created."
                    },
                    "endedAt": {
                      "type": "string",
                      "description": "An ISO 8601 datetime string in UTC for when the build finished. Null if still in progress.",
                      "nullable": true
                    },
                    "summary": {
                      "type": "string",
                      "description": "A summary of the build result.",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The status ID or preview deployment was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/project/{projectId}/preview/{previewDeploymentId}": {
      "delete": {
        "summary": "Delete preview deployment",
        "description": "Delete a preview deployment and clean up its associated cache. This action is irreversible.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "Your project ID. Can be copied from the [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) page in your dashboard.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "previewDeploymentId",
            "in": "path",
            "description": "The ID of the preview deployment to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The preview deployment was successfully deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean",
                      "description": "Whether the preview deployment was deleted."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The preview deployment was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "The Authorization header expects a Bearer token. Use an admin API key (prefixed with `mint_`). This is a server-side secret key. Generate one on the [API keys page](https://dashboard.mintlify.com/settings/organization/api-keys) in your dashboard."
      }
    }
  }
}
