.homepage-bg {
  background-image: url("https://ny2vcqfthujcm8md.public.blob.vercel-storage.com/homepage-diagram-nmDl0FL6QCMVlRcyhUs8uqXXtCJhLe.png");
  background-size: 999px 530px;
  background-position: top left;
    background-repeat: no-repeat;
  height: 530px; 
  width: 100%;
  position: absolute;
}

.homepage-content {
  margin-top: 200px !important;
}