{
  "openapi": "3.0.1",
  "info": {
    "title": "Mintlify Admin API",
    "description": "Una API de operaciones administrativas, incluidas las actualizaciones de documentación y la gestión de agentes.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.mintlify.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/agent/{projectId}/job": {
      "post": {
        "summary": "Crear tarea de agente",
        "description": "Crea un nuevo trabajo de agente capaz de generar y editar documentación basándose en los mensajes proporcionados y en la información de la branch.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "El ID de tu proyecto. Puedes copiarlo desde la página de [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) en tu panel de control."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "messages"
                ],
                "properties": {
                  "branch": {
                    "type": "string",
                    "description": "El nombre de la branch de Git en la que debe trabajar el agente. Si se omite, el agente genera un nombre de branch a partir del contenido del mensaje."
                  },
                  "messages": {
                    "type": "array",
                    "description": "Una lista de mensajes para proporcionar al agente. Siempre se antepone automáticamente un mensaje del sistema predeterminado, por lo que normalmente solo es necesario incluir mensajes de usuario.",
                    "items": {
                      "type": "object",
                      "required": [
                        "role",
                        "content"
                      ],
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "system",
                            "user",
                            "assistant"
                          ],
                          "description": "El rol del remitente del mensaje. Usa `user` para las instrucciones de la tarea. Usa `system` para agregar instrucciones complementarias que se añaden después del prompt del sistema predeterminado (no lo reemplaza). Usa `assistant` para proporcionar respuestas de ejemplo del assistant en el prompting de pocos ejemplos."
                        },
                        "content": {
                          "type": "string",
                          "description": "El contenido del mensaje."
                        }
                      }
                    }
                  },
                  "asDraft": {
                    "type": "boolean",
                    "default": false,
                    "description": "Controla si la solicitud de extracción se crea como borrador o como no borrador. Cuando es true, se crea una solicitud de extracción en borrador. Cuando es false (valor predeterminado), se crea una solicitud de extracción estándar lista para revisión."
                  },
                  "model": {
                    "type": "string",
                    "enum": [
                      "sonnet",
                      "opus"
                    ],
                    "default": "sonnet",
                    "description": "Modelo de IA que se utilizará para la tarea del agente. Usa `sonnet` para un procesamiento más rápido y económico. Usa `opus` para un procesamiento más potente, pero más lento."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Trabajo de agente creado correctamente (respuesta en streaming). El encabezado X-Session-Id se devuelve en la respuesta",
            "headers": {
              "X-Message-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Identificador del mensaje para el trabajo creado"
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Respuesta en streaming que contiene los detalles y resultados de la ejecución de la tarea del agente."
                }
              }
            }
          }
        }
      }
    },
    "/agent/{projectId}/job/{id}": {
      "get": {
        "summary": "Obtener tarea de agente por ID",
        "description": "Obtiene los detalles y el estado de una tarea de agente específica por su ID.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "El ID de tu proyecto. Puedes copiarlo en la página de [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de tu dashboard."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "El identificador único del trabajo de agente que se debe recuperar."
          }
        ],
        "responses": {
          "200": {
            "description": "Los detalles de la tarea del agente se han recuperado correctamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessionId": {
                      "type": "string",
                      "description": "El subdomain al que corresponde esta sesión."
                    },
                    "subdomain": {
                      "type": "string",
                      "description": "El subdominio al que pertenece esta sesión."
                    },
                    "branch": {
                      "type": "string",
                      "description": "Nombre de la branch de Git en la que se realizaron los cambios.",
                      "nullable": true
                    },
                    "haulted": {
                      "type": "boolean",
                      "description": "Indica si se interrumpió la ejecución de la sesión."
                    },
                    "haultReason": {
                      "type": "string",
                      "enum": [
                        "completed",
                        "github_missconfigured",
                        "error"
                      ],
                      "description": "Motivo de la interrupción de la sesión."
                    },
                    "pullRequestLink": {
                      "type": "string",
                      "description": "Enlace a la solicitud de extracción creada."
                    },
                    "messageToUser": {
                      "type": "string",
                      "description": "Mensaje para el usuario acerca del resultado de la sesión."
                    },
                    "todos": {
                      "type": "array",
                      "description": "Lista de tareas pendientes de la sesión.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content": {
                            "type": "string",
                            "description": "Descripción breve de la tarea."
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "pending",
                              "in_progress",
                              "completed",
                              "cancelled"
                            ],
                            "description": "Estado actual de la tarea."
                          },
                          "priority": {
                            "type": "string",
                            "enum": [
                              "high",
                              "medium",
                              "low"
                            ],
                            "description": "Prioridad de la tarea."
                          },
                          "id": {
                            "type": "string",
                            "description": "Identificador único de la tarea pendiente."
                          }
                        }
                      }
                    },
                    "userId": {
                      "type": "string",
                      "description": "El ID del usuario que creó esta sesión, si está disponible."
                    },
                    "title": {
                      "type": "string",
                      "description": "Un título generado que resume la tarea del agente."
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Marca de tiempo de creación de la sesión."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agent/{projectId}/jobs": {
      "get": {
        "summary": "Obtener todas las tareas de agente",
        "description": "Recupera todos los trabajos de agente para el domain especificado, incluidos su estado y detalles.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "El ID de tu proyecto. Se puede copiar desde la página de [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de tu dashboard."
          }
        ],
        "responses": {
          "200": {
            "description": "Todos los trabajos de los agentes se recuperaron correctamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "allSessions": {
                      "type": "array",
                      "description": "Array con todas las sesiones de agente del dominio.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sessionId": {
                            "type": "string",
                            "description": "El subdominio al que pertenece esta sesión."
                          },
                          "subdomain": {
                            "type": "string",
                            "description": "El subdominio al que pertenece esta sesión."
                          },
                          "branch": {
                            "type": "string",
                            "description": "Nombre de la branch de Git en la que se realizaron los cambios.",
                            "nullable": true
                          },
                          "haulted": {
                            "type": "boolean",
                            "description": "Indica si la ejecución de la sesión se detuvo."
                          },
                          "haultReason": {
                            "type": "string",
                            "enum": [
                              "completed",
                              "github_missconfigured",
                              "error"
                            ],
                            "description": "Motivo de la finalización de la sesión."
                          },
                          "pullRequestLink": {
                            "type": "string",
                            "description": "Enlace a la solicitud de extracción creada."
                          },
                          "messageToUser": {
                            "type": "string",
                            "description": "Mensaje para el usuario sobre el resultado de la sesión."
                          },
                          "todos": {
                            "type": "array",
                            "description": "Lista de tareas de la sesión.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "content": {
                                  "type": "string",
                                  "description": "Breve descripción de la tarea."
                                },
                                "status": {
                                  "type": "string",
                                  "enum": [
                                    "pending",
                                    "in_progress",
                                    "completed",
                                    "cancelled"
                                  ],
                                  "description": "Estado actual de la tarea."
                                },
                                "priority": {
                                  "type": "string",
                                  "enum": [
                                    "high",
                                    "medium",
                                    "low"
                                  ],
                                  "description": "Prioridad de la tarea."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Identificador único de la tarea pendiente."
                                }
                              }
                            }
                          },
                          "userId": {
                            "type": "string",
                            "description": "El ID del usuario que creó esta sesión, si está disponible."
                          },
                          "title": {
                            "type": "string",
                            "description": "Un título generado que resume la tarea del agente."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Marca de tiempo en la que se creó la sesión."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/agent/{projectId}/job": {
      "post": {
        "summary": "Crear trabajo del agente",
        "description": "Crea un nuevo trabajo del agente que se ejecuta en segundo plano. El trabajo procesa el prompt de forma asíncrona — consulta el endpoint get job para seguir el progreso. Si el agente edita archivos correctamente, se crea automáticamente una solicitud de extracción.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tu ID de proyecto. Puede copiarse desde la página [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de tu dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["prompt"],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "description": "La instrucción que el agente debe ejecutar."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Trabajo del agente creado correctamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentJob"
                }
              }
            }
          },
          "400": {
            "description": "Solicitud no válida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Límite de tasa superado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/agent/{projectId}/job/{id}": {
      "get": {
        "summary": "Obtener trabajo del agente",
        "description": "Obtiene el estado actual y los detalles de un trabajo del agente. Consulta este endpoint para seguir el progreso del trabajo.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tu ID de proyecto. Puede copiarse desde la página [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de tu dashboard."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "El identificador único del trabajo del agente."
          }
        ],
        "responses": {
          "200": {
            "description": "Detalles del trabajo del agente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentJob"
                }
              }
            }
          },
          "404": {
            "description": "Trabajo no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/agent/{projectId}/job/{id}/message": {
      "post": {
        "summary": "Enviar mensaje de seguimiento",
        "description": "Envía un mensaje de seguimiento a un trabajo del agente existente. El mensaje se procesa de forma asíncrona — consulta el endpoint get job para seguir el progreso.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tu ID de proyecto. Puede copiarse desde la página [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de tu dashboard."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "El identificador único del trabajo del agente al que enviar el mensaje."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["prompt"],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "description": "La instrucción de seguimiento para el agente."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensaje enviado correctamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentJob"
                }
              }
            }
          },
          "400": {
            "description": "Solicitud no válida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Trabajo no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Límite de tasa superado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AgentJob": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identificador único del trabajo del agente."
          },
          "status": {
            "type": "string",
            "enum": ["active", "completed", "failed"],
            "description": "Estado actual del trabajo. `active` — el agente está procesando el prompt actualmente. `completed` — el agente terminó correctamente y puede haberse creado una PR (comprueba `prLink`). `failed` — el agente encontró un error irrecuperable. Consulta hasta que el estado sea `completed` o `failed`."
          },
          "source": {
            "type": "object",
            "description": "Información del repositorio de origen.",
            "properties": {
              "repository": {
                "type": "string",
                "description": "URL completa del repositorio de GitHub."
              },
              "ref": {
                "type": "string",
                "description": "Branch de Git en la que trabaja el agente.",
                "nullable": true
              }
            }
          },
          "model": {
            "type": "string",
            "description": "El modelo de IA utilizado para este trabajo."
          },
          "prLink": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com/org/repo/pull/123",
            "description": "URL de la solicitud de extracción de GitHub creada por el agente. `null` mientras el trabajo está `active` o si no se modificaron archivos. Se rellena cuando el agente crea correctamente una PR.",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Marca de tiempo de creación del trabajo."
          },
          "archivedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Marca de tiempo de archivado del trabajo.",
            "nullable": true
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Mensaje de error."
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "El encabezado Authorization requiere un token de tipo Bearer. Usa una clave de API de administrador (con el prefijo `mint_`). Esta es una clave secreta del lado del servidor. Genera una clave en la [página de claves de API](https://dashboard.mintlify.com/settings/organization/api-keys) de tu dashboard."
      }
    }
  }
}