{
  "openapi": "3.1.0",
  "info": {
    "title": "Mintlify Analytics Export API",
    "version": "1.0.0",
    "description": "API para exportar datos de Analytics de la documentación"
  },
  "servers": [
    {
      "url": "https://api.mintlify.com",
      "description": "Producción"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "El encabezado Authorization requiere un token Bearer. Usa una clave de API de administrador (con el prefijo `mint_`). Esta es una clave secreta del lado del servidor. Genérala en la [página de claves de API](https://dashboard.mintlify.com/settings/organization/api-keys) de tu dashboard."
      }
    },
    "schemas": {
      "projectId": {
        "type": "string",
        "description": "Tu ID de proyecto. Puedes copiarlo desde la página [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) en tu dashboard."
      },
      "FeedbackResponse": {
        "type": "object",
        "properties": {
          "feedback": {
            "type": "array",
            "description": "Lista de entradas de comentarios.",
            "items": {
              "anyOf": [
                {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Identificador único del comentario."
                    },
                    "path": {
                      "type": "string",
                      "description": "La ruta o URL del documento de origen."
                    },
                    "comment": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Texto del comentario del usuario."
                    },
                    "createdAt": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Fecha y hora en la que se envió el comentario."
                    },
                    "source": {
                      "type": "string",
                      "enum": [
                        "code_snippet",
                        "contextual"
                      ],
                      "description": "Origen del comentario. `code_snippet` indica un comentario sobre un bloque de código, `contextual` indica un comentario a nivel de página."
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "in_progress",
                        "resolved",
                        "dismissed"
                      ],
                      "description": "Estado de revisión actual del comentario."
                    }
                  },
                  "required": [
                    "id",
                    "path",
                    "comment",
                    "createdAt",
                    "source",
                    "status"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Identificador único del comentario."
                    },
                    "path": {
                      "type": "string",
                      "description": "La ruta o URL del documento de origen."
                    },
                    "comment": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Texto del comentario del usuario."
                    },
                    "createdAt": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Fecha y hora en la que se envió el comentario."
                    },
                    "source": {
                      "type": "string",
                      "enum": [
                        "code_snippet",
                        "contextual"
                      ],
                      "description": "Origen del comentario. `code_snippet` indica un comentario sobre un bloque de código, `contextual` indica un comentario a nivel de página."
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "in_progress",
                        "resolved",
                        "dismissed"
                      ],
                      "description": "Estado actual de revisión del comentario."
                    },
                    "helpful": {
                      "type": "boolean",
                      "description": "Indica si el usuario considera útil el contenido."
                    },
                    "contact": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Dirección de correo electrónico proporcionada por el usuario para el seguimiento."
                    }
                  },
                  "required": [
                    "id",
                    "path",
                    "comment",
                    "createdAt",
                    "source",
                    "status",
                    "helpful",
                    "contact"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Identificador único del comentario."
                    },
                    "path": {
                      "type": "string",
                      "description": "La ruta o URL del documento de origen."
                    },
                    "comment": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Texto del comentario del usuario."
                    },
                    "createdAt": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Marca de tiempo del envío del comentario."
                    },
                    "source": {
                      "type": "string",
                      "enum": [
                        "code_snippet",
                        "contextual"
                      ],
                      "description": "Origen del comentario. `code_snippet` es un comentario sobre un bloque de código, `contextual` es un comentario a nivel de página."
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "in_progress",
                        "resolved",
                        "dismissed"
                      ],
                      "description": "Estado actual de revisión del comentario."
                    },
                    "code": {
                      "type": "string",
                      "description": "Fragmento de código al que hace referencia el comentario."
                    },
                    "filename": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Nombre de archivo asociado al fragmento de código."
                    },
                    "lang": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Lenguaje de programación del fragmento de código."
                    }
                  },
                  "required": [
                    "id",
                    "path",
                    "comment",
                    "createdAt",
                    "source",
                    "status",
                    "code",
                    "filename",
                    "lang"
                  ]
                }
              ]
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Cursor para recuperar la página siguiente de resultados. Nulo si no hay más resultados."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indica si hay más resultados después de esta página."
          }
        },
        "required": [
          "feedback",
          "nextCursor",
          "hasMore"
        ]
      },
      "AnalyticsErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Mensaje de error que describe lo que salió mal."
          },
          "details": {
            "type": "array",
            "description": "Detalles adicionales del error.",
            "items": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Descripción de un error específico de validación o procesamiento."
                }
              },
              "required": [
                "message"
              ]
            }
          }
        },
        "required": [
          "error"
        ]
      },
      "ViewsByPageResponse": {
        "type": "object",
        "properties": {
          "totals": {
            "$ref": "#/components/schemas/ViewsTrafficTotals"
          },
          "views": {
            "type": "array",
            "description": "Recuentos de vistas por ruta de página.",
            "items": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string",
                  "description": "Ruta de la página."
                },
                "human": {
                  "type": "number",
                  "description": "Eventos de visualización de contenido en esta ruta provenientes de tráfico humano."
                },
                "ai": {
                  "type": "number",
                  "description": "Eventos de visualización de contenido en esta ruta provenientes de tráfico de bots de IA."
                },
                "total": {
                  "type": "number",
                  "description": "Total de eventos de visualización de contenido en esta ruta."
                }
              },
              "required": ["path", "human", "ai", "total"]
            }
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indica si existen más resultados más allá de esta página."
          }
        },
        "required": ["totals", "views", "hasMore"]
      },
      "ViewsTrafficTotals": {
        "type": "object",
        "properties": {
          "human": {
            "type": "number",
            "description": "Eventos de visualización de contenido a nivel de sitio provenientes de tráfico humano."
          },
          "ai": {
            "type": "number",
            "description": "Eventos de visualización de contenido a nivel de sitio provenientes de tráfico de bots de IA."
          },
          "total": {
            "type": "number",
            "description": "Total de eventos de visualización de contenido a nivel de sitio."
          }
        },
        "required": ["human", "ai", "total"]
      },
      "VisitorsByPageResponse": {
        "type": "object",
        "properties": {
          "totals": {
            "$ref": "#/components/schemas/VisitorsTrafficTotals"
          },
          "visitors": {
            "type": "array",
            "description": "Recuentos de visitantes por ruta de página.",
            "items": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string",
                  "description": "Ruta de la página."
                },
                "human": {
                  "type": "number",
                  "description": "Visitantes únicos provenientes de tráfico humano."
                },
                "ai": {
                  "type": "number",
                  "description": "Visitantes únicos provenientes de tráfico de bots de IA."
                },
                "total": {
                  "type": "number",
                  "description": "Número aproximado de visitantes distintos con al menos una visualización en esta ruta, deduplicado entre humano e IA."
                }
              },
              "required": ["path", "human", "ai", "total"]
            }
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indica si existen más resultados más allá de esta página."
          }
        },
        "required": ["totals", "visitors", "hasMore"]
      },
      "VisitorsTrafficTotals": {
        "type": "object",
        "properties": {
          "human": {
            "type": "number",
            "description": "Visitantes únicos a nivel de sitio provenientes de tráfico humano."
          },
          "ai": {
            "type": "number",
            "description": "Visitantes únicos a nivel de sitio provenientes de tráfico de bots de IA."
          },
          "total": {
            "type": "number",
            "description": "Número aproximado de visitantes distintos a nivel de sitio, deduplicado entre humano e IA."
          }
        },
        "required": ["human", "ai", "total"]
      },
      "AssistantConversationsResponse": {
        "type": "object",
        "properties": {
          "conversations": {
            "type": "array",
            "description": "Lista de conversaciones del assistant.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Identificador único de la conversación."
                },
                "timestamp": {
                  "type": "string",
                  "description": "Marca de tiempo en la que se produjo la conversación."
                },
                "query": {
                  "type": "string",
                  "description": "La pregunta del usuario para el assistant."
                },
                "response": {
                  "type": "string",
                  "description": "La respuesta del assistant."
                },
                "sources": {
                  "type": "array",
                  "description": "Páginas de la documentación mencionadas en la respuesta.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "Título de la página de documentación mencionada."
                      },
                      "url": {
                        "type": "string",
                        "description": "URL de la página de documentación mencionada."
                      }
                    },
                    "required": [
                      "title",
                      "url"
                    ]
                  }
                },
                "queryCategory": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "Categoría de agrupación asignada automáticamente a la conversación, si corresponde."
                }
              },
              "required": [
                "id",
                "timestamp",
                "query",
                "response",
                "sources",
                "queryCategory"
              ]
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Cursor para obtener la siguiente página de resultados. Es nulo si no hay más resultados."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indica si hay resultados adicionales más allá de esta página."
          }
        },
        "required": [
          "conversations",
          "nextCursor",
          "hasMore"
        ]
      }
    },
    "parameters": {
      "projectId": {
        "schema": {
          "$ref": "#/components/schemas/projectId"
        },
        "required": true,
        "name": "projectId",
        "in": "path"
      }
    }
  },
  "paths": {
    "/v1/analytics/{projectId}/feedback": {
      "get": {
        "summary": "Obtener comentarios de los usuarios",
        "description": "Devuelve comentarios de usuarios con paginación y filtrado opcional",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "schema": {
              "type": "string",
              "description": "Fecha en formato ISO 8601 o AAAA-MM-DD",
              "example": "2024-01-01"
            },
            "required": false,
            "name": "dateFrom",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Fecha en formato ISO 8601 o AAAA-MM-DD. `dateTo` es un límite superior exclusivo. Los resultados incluyen fechas anteriores, pero no la fecha especificada.",
              "example": "2024-01-01"
            },
            "required": false,
            "name": "dateTo",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "code_snippet",
                "contextual"
              ],
              "description": "Filtrar por el origen de los comentarios"
            },
            "required": false,
            "name": "source",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Lista de estados separados por comas por los que filtrar"
            },
            "required": false,
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "default": 50,
              "description": "Número máximo de resultados por página"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Cursor de paginación"
            },
            "required": false,
            "name": "cursor",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Datos de comentarios paginados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedbackResponse"
                }
              }
            }
          },
          "400": {
            "description": "Parámetros de búsqueda no válidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/analytics/{projectId}/assistant": {
      "get": {
        "summary": "Obtener conversaciones del assistant",
        "description": "Devuelve el historial paginado de conversaciones del Asistente de IA",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "schema": {
              "type": "string",
              "description": "Fecha en formato ISO 8601 o AAAA-MM-DD",
              "example": "2024-01-01"
            },
            "required": false,
            "name": "dateFrom",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Fecha en formato ISO 8601 o AAAA-MM-DD. `dateTo` es un límite superior exclusivo. Los resultados incluyen fechas anteriores, pero no la fecha especificada.",
              "example": "2024-01-01"
            },
            "required": false,
            "name": "dateTo",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 1000,
              "default": 100,
              "description": "Número máximo de resultados por página"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "ulid",
              "description": "Cursor de paginación (formato ULID)"
            },
            "required": false,
            "name": "cursor",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Datos de conversación paginados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssistantConversationsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Parámetros de búsqueda no válidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/analytics/{projectId}/views": {
      "get": {
        "summary": "Obtener vistas por página",
        "description": "Devuelve recuentos de eventos de visualización de contenido por ruta y a nivel de sitio, desglosados por tráfico humano y de IA.",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "schema": {
              "type": "string",
              "description": "Fecha en formato ISO 8601 o AAAA-MM-DD",
              "example": "2024-01-01"
            },
            "required": false,
            "name": "dateFrom",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Fecha en formato ISO 8601 o AAAA-MM-DD. `dateTo` es un límite superior exclusivo. Los resultados incluyen fechas anteriores, pero no la fecha especificada.",
              "example": "2024-01-01"
            },
            "required": false,
            "name": "dateTo",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 250,
              "default": 50,
              "description": "Máximo de resultados por página (1–250, por defecto 50). Incrementa offset en limit mientras hasMore sea true para paginar."
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "description": "Número de filas a omitir. Usa offset = (página - 1) * limit para acceso por página."
            },
            "required": false,
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Recuentos de vistas a nivel de sitio y por ruta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ViewsByPageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Parámetros de consulta inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/analytics/{projectId}/visitors": {
      "get": {
        "summary": "Obtener visitantes únicos",
        "description": "Devuelve recuentos aproximados de visitantes distintos por ruta y a nivel de sitio, desglosados por tráfico humano y de IA. El total está deduplicado entre humano e IA.",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "schema": {
              "type": "string",
              "description": "Fecha en formato ISO 8601 o AAAA-MM-DD",
              "example": "2024-01-01"
            },
            "required": false,
            "name": "dateFrom",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Fecha en formato ISO 8601 o AAAA-MM-DD. `dateTo` es un límite superior exclusivo. Los resultados incluyen fechas anteriores, pero no la fecha especificada.",
              "example": "2024-01-01"
            },
            "required": false,
            "name": "dateTo",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 250,
              "default": 50,
              "description": "Máximo de resultados por página (1–250, por defecto 50). Incrementa offset en limit mientras hasMore sea true para paginar."
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "description": "Número de filas a omitir. Usa offset = (página - 1) * limit para acceso por página."
            },
            "required": false,
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Totales y recuentos de visitantes por ruta a nivel de sitio",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisitorsByPageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Parámetros de consulta inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Error del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {}
}