{
  "openapi": "3.0.1",
  "info": {
    "title": "Mintlify External API",
    "description": "Una API para gestionar la documentación de Mintlify y acceder a recursos.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.mintlify.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "x-mcp": {
    "enabled": true
  },
  "paths": {
    "/project/update/{projectId}": {
      "post": {
        "summary": "Iniciar actualización",
        "description": "Pone en cola una actualización de implementación para tu proyecto de documentación. Devuelve un ID de estado que se puede usar para hacer seguimiento del progreso de la actualización. La actualización se activa desde la rama de implementación que tengas configurada.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "El ID de tu proyecto. Puedes copiarlo de la página de [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de tu dashboard.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Una respuesta satisfactoria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusId": {
                      "type": "string",
                      "description": "El ID de estado de la actualización que se activó."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/project/update-status/{statusId}": {
      "get": {
        "summary": "Obtener el estado de la actualización",
        "description": "Obtén el estado de una actualización mediante el ID de estado",
        "parameters": [
          {
            "name": "statusId",
            "in": "path",
            "description": "El identificador de estado de una actualización activada.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Una respuesta correcta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string",
                      "description": "El ID de estado de la actualización que se activó."
                    },
                    "projectId": {
                      "type": "string",
                      "description": "El identificador del proyecto de documentación."
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "Un ISODate con la fecha y la hora especificadas en UTC"
                    },
                    "endedAt": {
                      "type": "string",
                      "description": "Un ISODate con la fecha y hora especificadas en UTC"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "in_progress",
                        "success",
                        "failure"
                      ],
                      "description": "El estado de la actualización."
                    },
                    "summary": {
                      "type": "string",
                      "description": "Resumen del estado de la actualización"
                    },
                    "logs": {
                      "type": "array",
                      "description": "Una matriz de registros.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "subdomain": {
                      "type": "string",
                      "description": "El subdominio de la documentación que se está actualizando."
                    },
                    "screenshot": {
                      "type": "string",
                      "description": "Una captura de pantalla de la documentación."
                    },
                    "screenshotLight": {
                      "type": "string",
                      "description": "Una captura de pantalla de la documentación."
                    },
                    "screenshotDark": {
                      "type": "string",
                      "description": "Captura de pantalla de la documentación en modo oscuro."
                    },
                    "author": {
                      "type": "object",
                      "description": "El autor de la actualización.",
                      "nullable": true,
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "El nombre del autor."
                        },
                        "avatarUrl": {
                          "type": "string",
                          "description": "URL de la imagen de avatar del autor."
                        },
                        "githubUserId": {
                          "type": "number",
                          "description": "El identificador de usuario de GitHub del autor."
                        }
                      }
                    },
                    "commit": {
                      "type": "object",
                      "description": "Detalles de la confirmación",
                      "properties": {
                        "sha": {
                          "type": "string",
                          "description": "El SHA de la confirmación."
                        },
                        "ref": {
                          "type": "string",
                          "description": "La referencia de la confirmación."
                        },
                        "message": {
                          "type": "string",
                          "description": "El mensaje de confirmación."
                        },
                        "filesChanged": {
                          "type": "object",
                          "description": "Detalles de los archivos modificados.",
                          "properties": {
                            "added": {
                              "type": "array",
                              "description": "Se han añadido nuevos archivos.",
                              "items": {
                                "type": "string"
                              }
                            },
                            "modified": {
                              "type": "array",
                              "description": "Archivos existentes que fueron modificados.",
                              "items": {
                                "type": "string"
                              }
                            },
                            "removed": {
                              "type": "array",
                              "description": "Archivos eliminados.",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "source": {
                      "type": "string",
                      "description": "Origen del disparador de la actualización.",
                      "enum": [
                        "internal",
                        "github-app-installation",
                        "api",
                        "github",
                        "dashboard",
                        "gitlab",
                        "onboarding"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/project/{projectId}/preview": {
      "post": {
        "summary": "Crear despliegue de vista previa",
        "description": "Crea un despliegue de vista previa para una rama específica. El despliegue se construye de forma asíncrona. Usa el `statusId` devuelto para consultar el estado de la construcción. Requiere el derecho `PREVIEW_DEPLOYMENTS`.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "El ID de tu proyecto. Puedes copiarlo de la página de [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de tu dashboard.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["branch"],
                "properties": {
                  "branch": {
                    "type": "string",
                    "description": "La rama de Git desde la cual crear un despliegue de vista previa.",
                    "example": "feature/my-branch"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "La creación del despliegue de vista previa ha sido puesta en cola.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusId": {
                      "type": "string",
                      "description": "El ID de estado para consultar el progreso de la construcción."
                    },
                    "previewDeploymentId": {
                      "type": "string",
                      "description": "El identificador único del despliegue de vista previa creado."
                    },
                    "subdomain": {
                      "type": "string",
                      "description": "El subdominio asignado al despliegue de vista previa."
                    },
                    "previewUrl": {
                      "type": "string",
                      "description": "La URL donde el despliegue de vista previa es accesible."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Solicitud inválida. La rama falta o el proyecto de origen es un despliegue de vista previa.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Listar despliegues de vista previa",
        "description": "Lista todos los despliegues de vista previa de un proyecto. Devuelve el ID de despliegue, subdominio, rama y URL de vista previa para cada uno.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "El ID de tu proyecto. Puedes copiarlo de la página de [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de tu dashboard.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Una lista de despliegues de vista previa.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "previews": {
                      "type": "array",
                      "description": "Un arreglo de despliegues de vista previa.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "El ID del despliegue de vista previa."
                          },
                          "subdomain": {
                            "type": "string",
                            "description": "El subdominio del despliegue de vista previa."
                          },
                          "branch": {
                            "type": "string",
                            "description": "La rama de Git desde la cual se creó la vista previa."
                          },
                          "previewUrl": {
                            "type": "string",
                            "description": "La URL donde la vista previa es accesible."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/project/{projectId}/preview/{statusId}/status": {
      "get": {
        "summary": "Obtener estado del despliegue de vista previa",
        "description": "Obtén el estado de construcción de un despliegue de vista previa usando el ID de estado devuelto al crear la vista previa.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "El ID de tu proyecto. Puedes copiarlo de la página de [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de tu dashboard.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statusId",
            "in": "path",
            "description": "El ID de estado devuelto por el endpoint de creación de despliegue de vista previa.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "El estado de construcción del despliegue de vista previa.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["queued", "in_progress", "success", "failure"],
                      "description": "El estado actual de la construcción del despliegue de vista previa."
                    },
                    "previewUrl": {
                      "type": "string",
                      "description": "La URL donde el despliegue de vista previa es accesible."
                    },
                    "subdomain": {
                      "type": "string",
                      "description": "El subdominio del despliegue de vista previa."
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "Una fecha y hora en formato ISO 8601 en UTC que indica cuándo se creó la construcción."
                    },
                    "endedAt": {
                      "type": "string",
                      "description": "Una fecha y hora en formato ISO 8601 en UTC que indica cuándo terminó la construcción. Null si aún está en progreso.",
                      "nullable": true
                    },
                    "summary": {
                      "type": "string",
                      "description": "Un resumen del resultado de la construcción.",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "El ID de estado o el despliegue de vista previa no fue encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/project/{projectId}/preview/{previewDeploymentId}": {
      "delete": {
        "summary": "Eliminar despliegue de vista previa",
        "description": "Elimina un despliegue de vista previa y limpia el caché asociado. Esta acción es irreversible.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "El ID de tu proyecto. Puedes copiarlo de la página de [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de tu dashboard.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "previewDeploymentId",
            "in": "path",
            "description": "El ID del despliegue de vista previa a eliminar.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "El despliegue de vista previa fue eliminado exitosamente.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean",
                      "description": "Indica si el despliegue de vista previa fue eliminado."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "El despliegue de vista previa no fue encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "El encabezado Authorization espera un token de tipo Bearer. Usa una clave de API de administrador (con el prefijo `mint_`). Esta es una clave secreta del lado del servidor. Genera una en la [página de claves de API](https://dashboard.mintlify.com/settings/organization/api-keys) de tu dashboard."
      }
    }
  }
}