{
  "openapi": "3.0.1",
  "info": {
    "title": "Mintlify External API",
    "description": "Una API para gestionar la documentación de Mintlify y acceder a recursos.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.mintlify.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "x-mcp": {
    "enabled": true
  },
  "paths": {
    "/project/update/{projectId}": {
      "post": {
        "summary": "Iniciar actualización",
        "description": "Pone en cola una actualización de implementación para tu proyecto de documentación. Devuelve un ID de estado que se puede usar para hacer seguimiento del progreso de la actualización. La actualización se activa desde la rama de implementación que tengas configurada.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "El ID de tu proyecto. Puedes copiarlo de la página de [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de tu dashboard.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Una respuesta satisfactoria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusId": {
                      "type": "string",
                      "description": "El ID de estado de la actualización que se activó."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/project/update-status/{statusId}": {
      "get": {
        "summary": "Obtener el estado de la actualización",
        "description": "Obtén el estado de una actualización mediante el ID de estado",
        "parameters": [
          {
            "name": "statusId",
            "in": "path",
            "description": "El identificador de estado de una actualización activada.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Una respuesta correcta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string",
                      "description": "El ID de estado de la actualización que se activó."
                    },
                    "projectId": {
                      "type": "string",
                      "description": "El identificador del proyecto de documentación."
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "Un ISODate con la fecha y la hora especificadas en UTC"
                    },
                    "endedAt": {
                      "type": "string",
                      "description": "Un ISODate con la fecha y hora especificadas en UTC"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "in_progress",
                        "success",
                        "failure"
                      ],
                      "description": "El estado de la actualización."
                    },
                    "summary": {
                      "type": "string",
                      "description": "Resumen del estado de la actualización"
                    },
                    "logs": {
                      "type": "array",
                      "description": "Una matriz de registros.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "subdomain": {
                      "type": "string",
                      "description": "El subdominio de la documentación que se está actualizando."
                    },
                    "screenshot": {
                      "type": "string",
                      "description": "Una captura de pantalla de la documentación."
                    },
                    "screenshotLight": {
                      "type": "string",
                      "description": "Una captura de pantalla de la documentación."
                    },
                    "screenshotDark": {
                      "type": "string",
                      "description": "Captura de pantalla de la documentación en modo oscuro."
                    },
                    "author": {
                      "type": "object",
                      "description": "El autor de la actualización.",
                      "nullable": true,
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "El nombre del autor."
                        },
                        "avatarUrl": {
                          "type": "string",
                          "description": "URL de la imagen de avatar del autor."
                        },
                        "githubUserId": {
                          "type": "number",
                          "description": "El identificador de usuario de GitHub del autor."
                        }
                      }
                    },
                    "commit": {
                      "type": "object",
                      "description": "Detalles de la confirmación",
                      "properties": {
                        "sha": {
                          "type": "string",
                          "description": "El SHA de la confirmación."
                        },
                        "ref": {
                          "type": "string",
                          "description": "La referencia de la confirmación."
                        },
                        "message": {
                          "type": "string",
                          "description": "El mensaje de confirmación."
                        },
                        "filesChanged": {
                          "type": "object",
                          "description": "Detalles de los archivos modificados.",
                          "properties": {
                            "added": {
                              "type": "array",
                              "description": "Se han añadido nuevos archivos.",
                              "items": {
                                "type": "string"
                              }
                            },
                            "modified": {
                              "type": "array",
                              "description": "Archivos existentes que fueron modificados.",
                              "items": {
                                "type": "string"
                              }
                            },
                            "removed": {
                              "type": "array",
                              "description": "Archivos eliminados.",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "source": {
                      "type": "string",
                      "description": "Origen del disparador de la actualización.",
                      "enum": [
                        "internal",
                        "github-app-installation",
                        "api",
                        "github",
                        "dashboard",
                        "gitlab",
                        "onboarding"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/project/preview/{projectId}": {
      "post": {
        "summary": "Iniciar despliegue de vista previa",
        "description": "Crea o reconstruye un despliegue de vista previa para una rama específica. Si ya existe un despliegue de vista previa para la rama dada, lo reutiliza y activa una reconstrucción. Devuelve un ID de estado para consultar el progreso y la URL de vista previa. Requiere el derecho de Preview Deployments.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "El ID de tu proyecto. Puedes copiarlo de la página de [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de tu dashboard.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["branch"],
                "properties": {
                  "branch": {
                    "type": "string",
                    "description": "El nombre de la rama para la cual crear un despliegue de vista previa.",
                    "minLength": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Despliegue de vista previa puesto en cola correctamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusId": {
                      "type": "string",
                      "description": "El ID de estado del despliegue de vista previa activado. Úsalo con el endpoint [Obtener el estado del despliegue](/es/api/update/status) para consultar el progreso."
                    },
                    "previewUrl": {
                      "type": "string",
                      "description": "La URL donde se podrá acceder al despliegue de vista previa."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Cuerpo de solicitud inválido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "branch is required"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Los despliegues de vista previa no están disponibles en tu plan actual",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Preview deployments are not available on your current plan."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "El encabezado Authorization espera un token de tipo Bearer. Usa una clave de API de administrador (con el prefijo `mint_`). Esta es una clave secreta del lado del servidor. Genera una en la [página de claves de API](https://dashboard.mintlify.com/settings/organization/api-keys) de tu dashboard."
      }
    }
  }
}