{
  "openapi": "3.0.1",
  "info": {
    "title": "API de búsqueda universal de Mintlify",
    "description": "Busca en la documentación alojada en Mintlify y en la web abierta con una única consulta.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.mintlify.com/universal-search/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/search": {
      "post": {
        "summary": "Buscar en la documentación y en la web",
        "description": "Ejecuta una única consulta contra la documentación alojada en Mintlify y proveedores de búsqueda web, combina los resultados y los devuelve ordenados por relevancia. Opcionalmente devuelve el contenido completo de la página para cada resultado.\n\nAutentícate con una clave API de búsqueda universal.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "numResults"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "La consulta de búsqueda que se va a ejecutar. Debe ser una cadena no vacía."
                  },
                  "numResults": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20,
                    "description": "Número máximo de resultados que se van a devolver. Debe estar entre 1 y 20."
                  },
                  "text": {
                    "description": "Controla si se devuelve el contenido de la página con cada resultado. Omítelo o establécelo en `false` para devolver solo metadatos. Establécelo en `true` para devolver el contenido completo de la página. Pasa un objeto con `maxCharacters` para devolver el contenido truncado a un límite de caracteres. El truncado preserva Markdown válido cerrando los bloques de código abiertos.",
                    "oneOf": [
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "object",
                        "required": [
                          "maxCharacters"
                        ],
                        "properties": {
                          "maxCharacters": {
                            "type": "integer",
                            "minimum": 1,
                            "description": "Número máximo de caracteres del contenido de la página que se devuelve por resultado."
                          }
                        }
                      }
                    ]
                  },
                  "includeDomains": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "string"
                    },
                    "description": "Restringe los resultados web a estos dominios. Los resultados alojados en Mintlify no se ven afectados."
                  },
                  "excludeDomains": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "string"
                    },
                    "description": "Excluye los resultados web de estos dominios. Los resultados alojados en Mintlify no se ven afectados."
                  }
                }
              },
              "examples": {
                "basic": {
                  "summary": "Búsqueda básica con contenido de página truncado",
                  "value": {
                    "query": "How do I create a Stripe charge?",
                    "numResults": 10,
                    "text": {
                      "maxCharacters": 4000
                    }
                  }
                },
                "filtered": {
                  "summary": "Filtrar resultados web por dominio",
                  "value": {
                    "query": "authentication setup",
                    "numResults": 10,
                    "text": {
                      "maxCharacters": 4000
                    },
                    "includeDomains": [
                      "docs.stripe.com"
                    ],
                    "excludeDomains": [
                      "example.com"
                    ]
                  }
                },
                "fullText": {
                  "summary": "Devolver el contenido completo de la página",
                  "value": {
                    "query": "How do I create a Stripe charge?",
                    "numResults": 10,
                    "text": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resultados de la búsqueda.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "requestId",
                    "results"
                  ],
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Un identificador único para esta solicitud. Inclúyelo cuando contactes con soporte."
                    },
                    "results": {
                      "type": "array",
                      "description": "La lista combinada de resultados, ordenada por relevancia. Los resultados con `source: \"mintlify\"` provienen de documentación alojada en Mintlify; los resultados con `source: \"web\"` provienen de la web abierta.",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "url",
                          "title",
                          "text",
                          "score",
                          "source",
                          "siteName",
                          "breadcrumbs",
                          "publishedDate"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Un identificador estable para el resultado. Para los resultados de Mintlify, es el ID del grupo de páginas; para los resultados web, es la URL."
                          },
                          "url": {
                            "type": "string",
                            "format": "uri",
                            "description": "La URL canónica del resultado."
                          },
                          "title": {
                            "type": "string",
                            "description": "El título de la página."
                          },
                          "text": {
                            "type": "string",
                            "description": "El contenido de la página. Vacío cuando `text` se omite o se establece en `false`. Truncado cuando se proporciona `text.maxCharacters`."
                          },
                          "score": {
                            "type": "number",
                            "description": "La puntuación de relevancia de este resultado."
                          },
                          "source": {
                            "type": "string",
                            "enum": [
                              "mintlify",
                              "web"
                            ],
                            "description": "De dónde proviene el resultado."
                          },
                          "siteName": {
                            "type": "string",
                            "description": "El nombre del sitio del que proviene el resultado. Para los resultados de Mintlify, es el subdominio de la implementación; para los resultados web, es el nombre de host."
                          },
                          "breadcrumbs": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Las migas de pan de navegación de la página. Solo se rellenan para los resultados de Mintlify."
                          },
                          "publishedDate": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true,
                            "description": "La fecha de publicación informada por la fuente, cuando esté disponible."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Cuerpo de la solicitud no válido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Clave API ausente o no válida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Se superó el límite de tasa.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "La búsqueda falló.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "El encabezado Authorization espera un token Bearer. Usa una clave API de búsqueda universal. Genera una en la [página de claves API](https://app.mintlify.com/settings/organization/api-keys) de tu panel."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Descripción legible por humanos del error."
          }
        }
      }
    }
  }
}
