{
  "openapi": "3.0.1",
  "info": {
    "title": "Mintlify Admin API",
    "description": "Une API pour les opérations administratives, y compris les mises à jour de la documentation et la gestion des agents.",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.mintlify.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v2/agent/{projectId}/job": {
      "post": {
        "summary": "Créer une tâche d’agent",
        "description": "Crée une nouvelle tâche d’agent qui s’exécute en arrière-plan. La tâche traite le prompt de manière asynchrone — interrogez le point de terminaison get job pour suivre sa progression. Si l’agent modifie les fichiers avec succès, une pull request (demande de fusion) est automatiquement créée.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L’ID de votre projet. Vous pouvez le copier depuis la page [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de votre Dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "description": "L’instruction que l’agent doit exécuter."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tâche d’agent créée avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentJob"
                }
              }
            }
          },
          "400": {
            "description": "requête invalide",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "limite de débit dépassé",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/agent/{projectId}/job/{id}": {
      "get": {
        "summary": "Récupérer une tâche d’agent",
        "description": "Récupère le statut actuel et les détails d’une tâche d’agent. Interrogez ce point de terminaison pour suivre la progression de la tâche.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L’ID de votre projet. Vous pouvez le copier depuis la page [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de votre Dashboard."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L’identifiant unique de la tâche d’agent."
          }
        ],
        "responses": {
          "200": {
            "description": "Détails de la tâche d’agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentJob"
                }
              }
            }
          },
          "404": {
            "description": "Tâche introuvable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/agent/{projectId}/job/{id}/message": {
      "post": {
        "summary": "Envoyer un message de suivi",
        "description": "Envoie un message de suivi à une tâche d’agent existante. Le message est traité de manière asynchrone — interroger le point de terminaison get job pour suivre la progression.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L’ID de votre projet. Vous pouvez le copier depuis la page [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de votre Dashboard."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L’identifiant unique de la tâche d’agent à laquelle envoyer un message."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "description": "L’instruction de suivi destinée à l’agent."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message envoyé avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentJob"
                }
              }
            }
          },
          "400": {
            "description": "Requête invalide",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tâche introuvable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Limite de débit dépassée",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AgentJob": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifiant unique de la tâche d’agent."
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "completed",
              "archived",
              "failed"
            ],
            "description": "Statut actuel de la tâche. `active` — l’agent traite actuellement le prompt. `completed` — l’agent a terminé avec succès et une PR a peut-être été créée (vérifiez `prLink`). `archived` — la tâche a été archivée. `failed` — l’agent a rencontré une erreur non récupérable. Interrogez régulièrement jusqu’à ce que le statut soit `completed`, `archived` ou `failed`."
          },
          "source": {
            "type": "object",
            "description": "Informations sur le référentiel source.",
            "properties": {
              "repository": {
                "type": "string",
                "description": "URL complète du référentiel GitHub."
              },
              "ref": {
                "type": "string",
                "description": "Branche Git sur laquelle l’agent travaille.",
                "nullable": true
              }
            }
          },
          "model": {
            "type": "string",
            "description": "Modèle d’IA utilisé pour cette tâche."
          },
          "prLink": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com/org/repo/pull/123",
            "description": "URL de la pull request (demande de fusion) GitHub créée par l’agent. `null` tant que la tâche est `active` ou si aucun fichier n’a été modifié. Renseignée une fois que l’agent a créé une PR avec succès.",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Horodatage de création de la tâche."
          },
          "archivedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Horodatage d’archivage de la tâche.",
            "nullable": true
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Message d’erreur."
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "L’en-tête `Authorization` requiert un jeton Bearer. Utilisez une clé API d’administrateur (préfixée par `mint_`). Il s’agit d’une clé secrète côté serveur. Générez-en une sur la [page des clés API](https://dashboard.mintlify.com/settings/organization/api-keys) dans votre Dashboard Mintlify."
      }
    }
  }
}
