{
  "openapi": "3.0.1",
  "info": {
    "title": "Mintlify Admin API",
    "description": "Une API pour les opérations administratives, y compris les mises à jour de la documentation et la gestion des agents.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.mintlify.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/agent/{projectId}/job": {
      "post": {
        "summary": "Créer une tâche d’agent",
        "description": "Crée un nouveau job d’agent qui peut générer et modifier la documentation à partir des messages fournis et des informations sur la branche.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Votre ID de projet. Vous pouvez le copier à partir de la page [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de votre Dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "messages"
                ],
                "properties": {
                  "branch": {
                    "type": "string",
                    "description": "Le nom de la branche Git sur laquelle l’agent doit travailler. S’il n’est pas indiqué, l’agent génère un nom de branche à partir du contenu du message."
                  },
                  "messages": {
                    "type": "array",
                    "description": "Une liste de messages à fournir à l’agent. Une invite système par défaut est toujours automatiquement ajoutée en premier, vous n’avez donc généralement besoin d’inclure que les messages utilisateur.",
                    "items": {
                      "type": "object",
                      "required": [
                        "role",
                        "content"
                      ],
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "system",
                            "user",
                            "assistant"
                          ],
                          "description": "Le rôle de l’expéditeur du message. Utilisez `user` pour les instructions de tâche. Utilisez `system` pour ajouter des instructions supplémentaires qui s’ajoutent au prompt système par défaut (sans le remplacer). Utilisez `assistant` pour fournir des exemples de réponses de l’Assistant dans le cadre d’un prompting few-shot."
                        },
                        "content": {
                          "type": "string",
                          "description": "Le contenu du message."
                        }
                      }
                    }
                  },
                  "asDraft": {
                    "type": "boolean",
                    "default": false,
                    "description": "Détermine si la pull request (demande de fusion) est créée en mode brouillon ou non. Lorsque la valeur est true, une pull request (demande de fusion) en brouillon est créée. Lorsque la valeur est false (valeur par défaut), une pull request (demande de fusion) classique, prête pour relecture, est créée."
                  },
                  "model": {
                    "type": "string",
                    "enum": [
                      "sonnet",
                      "opus"
                    ],
                    "default": "sonnet",
                    "description": "Le modèle d’IA à utiliser pour la tâche de l’agent. Utilisez `sonnet` pour un traitement plus rapide et économique. Utilisez `opus` pour un traitement plus puissant, mais plus lent."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job d’agent créé avec succès (réponse diffusée en continu). L’en-tête X-Session-Id est renvoyé dans la réponse",
            "headers": {
              "X-Message-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Identifiant du message pour la tâche créée"
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Réponse diffusée en continu contenant les détails d’exécution et les résultats de la tâche de l’agent."
                }
              }
            }
          }
        }
      }
    },
    "/agent/{projectId}/job/{id}": {
      "get": {
        "summary": "Obtenir le job d’agent par identifiant",
        "description": "Récupère les détails et le statut d’un job d’agent spécifique à partir de son identifiant.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Votre ID de projet. Peut être copié depuis la page [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de votre Dashboard."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L’identifiant unique de la tâche d’agent à récupérer."
          }
        ],
        "responses": {
          "200": {
            "description": "Les détails de la tâche de l’agent ont été récupérés avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessionId": {
                      "type": "string",
                      "description": "Le sous-domaine auquel appartient cette session."
                    },
                    "subdomain": {
                      "type": "string",
                      "description": "Le sous-domaine auquel cette session appartient."
                    },
                    "branch": {
                      "type": "string",
                      "description": "Nom de la branche Git dans laquelle les modifications ont été effectuées.",
                      "nullable": true
                    },
                    "haulted": {
                      "type": "boolean",
                      "description": "Indique si l’exécution de la session a été interrompue."
                    },
                    "haultReason": {
                      "type": "string",
                      "enum": [
                        "completed",
                        "github_missconfigured",
                        "error"
                      ],
                      "description": "Motif d’arrêt de la session."
                    },
                    "pullRequestLink": {
                      "type": "string",
                      "description": "Lien vers la pull request (demande de fusion) que vous avez créée."
                    },
                    "messageToUser": {
                      "type": "string",
                      "description": "Message destiné à l’utilisateur concernant le résultat de la session."
                    },
                    "todos": {
                      "type": "array",
                      "description": "Liste des tâches issues de la session.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content": {
                            "type": "string",
                            "description": "Brève description de la tâche."
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "pending",
                              "in_progress",
                              "completed",
                              "cancelled"
                            ],
                            "description": "État actuel de la tâche."
                          },
                          "priority": {
                            "type": "string",
                            "enum": [
                              "high",
                              "medium",
                              "low"
                            ],
                            "description": "Niveau de priorité de la tâche."
                          },
                          "id": {
                            "type": "string",
                            "description": "Identifiant unique de la tâche."
                          }
                        }
                      }
                    },
                    "userId": {
                      "type": "string",
                      "description": "L’ID de l’utilisateur qui a créé cette session, s’il est disponible."
                    },
                    "title": {
                      "type": "string",
                      "description": "Un titre généré qui résume la tâche de l’agent."
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Horodatage de la création de la session."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agent/{projectId}/jobs": {
      "get": {
        "summary": "Obtenir tous les jobs d’agent",
        "description": "Récupère tous les jobs d’agent pour le domaine spécifié, y compris leur statut et leurs détails.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L’ID de votre projet. Vous pouvez le copier à partir de la page [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de votre Dashboard."
          }
        ],
        "responses": {
          "200": {
            "description": "Toutes les tâches d’agent ont été récupérées avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "allSessions": {
                      "type": "array",
                      "description": "Tableau de toutes les sessions d’agent du domain.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sessionId": {
                            "type": "string",
                            "description": "Le sous-domaine auquel appartient cette session."
                          },
                          "subdomain": {
                            "type": "string",
                            "description": "Le sous-domaine associé à cette session."
                          },
                          "branch": {
                            "type": "string",
                            "description": "Nom de la branche Git où les modifications ont été effectuées.",
                            "nullable": true
                          },
                          "haulted": {
                            "type": "boolean",
                            "description": "Indique si l’exécution de la session a été interrompue."
                          },
                          "haultReason": {
                            "type": "string",
                            "enum": [
                              "completed",
                              "github_missconfigured",
                              "error"
                            ],
                            "description": "Motif d'arrêt de la session."
                          },
                          "pullRequestLink": {
                            "type": "string",
                            "description": "Lien vers la pull request (demande de fusion) qui a été créée."
                          },
                          "messageToUser": {
                            "type": "string",
                            "description": "Message destiné à l’utilisateur indiquant le résultat de la session."
                          },
                          "todos": {
                            "type": "array",
                            "description": "Liste des actions à réaliser issues de la session.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "content": {
                                  "type": "string",
                                  "description": "Brève description de la tâche."
                                },
                                "status": {
                                  "type": "string",
                                  "enum": [
                                    "pending",
                                    "in_progress",
                                    "completed",
                                    "cancelled"
                                  ],
                                  "description": "État actuel de la tâche."
                                },
                                "priority": {
                                  "type": "string",
                                  "enum": [
                                    "high",
                                    "medium",
                                    "low"
                                  ],
                                  "description": "Niveau de priorité de la tâche."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Identifiant unique de la tâche."
                                }
                              }
                            }
                          },
                          "userId": {
                            "type": "string",
                            "description": "L’ID de l’utilisateur qui a créé cette session, s’il est disponible."
                          },
                          "title": {
                            "type": "string",
                            "description": "Un titre généré qui résume la tâche de l’agent."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Horodatage correspondant à la création de la session."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/agent/{projectId}/job": {
      "post": {
        "summary": "Créer une tâche d’agent",
        "description": "Crée une nouvelle tâche d’agent qui s’exécute en arrière-plan. La tâche traite le prompt de manière asynchrone — interrogez l’endpoint get job pour suivre la progression. Si l’agent modifie des fichiers avec succès, une pull request est automatiquement créée.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Votre ID de projet. Peut être copié depuis la page [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de votre Dashboard."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["prompt"],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "description": "L’instruction que l’agent doit exécuter."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tâche d’agent créée avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentJob"
                }
              }
            }
          },
          "400": {
            "description": "Requête invalide",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Limite de débit dépassée",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/agent/{projectId}/job/{id}": {
      "get": {
        "summary": "Obtenir une tâche d’agent",
        "description": "Récupère le statut actuel et les détails d’une tâche d’agent. Interrogez cet endpoint pour suivre la progression du job.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Votre ID de projet. Peut être copié depuis la page [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de votre Dashboard."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L’identifiant unique de la tâche d’agent."
          }
        ],
        "responses": {
          "200": {
            "description": "Détails de la tâche d’agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentJob"
                }
              }
            }
          },
          "404": {
            "description": "Tâche introuvable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/agent/{projectId}/job/{id}/message": {
      "post": {
        "summary": "Envoyer un message de suivi",
        "description": "Envoie un message de suivi à une tâche d’agent existante. Le message est traité de manière asynchrone — interrogez l’endpoint get job pour suivre la progression.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Votre ID de projet. Peut être copié depuis la page [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de votre Dashboard."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L’identifiant unique de la tâche d’agent à laquelle envoyer le message."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["prompt"],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "description": "L’instruction de suivi pour l’agent."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message envoyé avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentJob"
                }
              }
            }
          },
          "400": {
            "description": "Requête invalide",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tâche introuvable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Limite de débit dépassée",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AgentJob": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifiant unique de la tâche d’agent."
          },
          "status": {
            "type": "string",
            "enum": ["active", "completed", "failed"],
            "description": "Statut actuel du job. `active` — l’agent traite actuellement le prompt. `completed` — l’agent a terminé avec succès et une PR peut avoir été créée (vérifiez `prLink`). `failed` — l’agent a rencontré une erreur irrécupérable. Interrogez jusqu’à ce que le statut soit `completed` ou `failed`."
          },
          "source": {
            "type": "object",
            "description": "Informations sur le dépôt source.",
            "properties": {
              "repository": {
                "type": "string",
                "description": "URL complète du dépôt GitHub."
              },
              "ref": {
                "type": "string",
                "description": "Branche Git sur laquelle l’agent travaille.",
                "nullable": true
              }
            }
          },
          "model": {
            "type": "string",
            "description": "Le modèle d’IA utilisé pour ce job."
          },
          "prLink": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com/org/repo/pull/123",
            "description": "URL de la pull request (demande de fusion) GitHub créée par l’agent. `null` tant que le job est `active` ou si aucun fichier n’a été modifié. Renseigné une fois que l’agent a créé une PR avec succès.",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Horodatage de création du job."
          },
          "archivedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Horodatage d’archivage du job.",
            "nullable": true
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Message d’erreur."
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "L’en-tête `Authorization` requiert un jeton Bearer. Utilisez une clé API d’administrateur (préfixée par `mint_`). Il s’agit d’une clé secrète côté serveur. Générez-en une sur la [page des clés API](https://dashboard.mintlify.com/settings/organization/api-keys) dans votre Dashboard Mintlify."
      }
    }
  }
}