{
  "openapi": "3.0.1",
  "info": {
    "title": "Mintlify External API",
    "description": "Une API pour gérer la documentation Mintlify et accéder aux ressources.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.mintlify.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "x-mcp": {
    "enabled": true
  },
  "paths": {
    "/project/update/{projectId}": {
      "post": {
        "summary": "Lancer la mise à jour",
        "description": "Mettez en file d’attente une mise à jour de déploiement pour votre projet de documentation. Retourne un identifiant de statut qui peut être utilisé pour suivre la progression de la mise à jour. La mise à jour est déclenchée à partir de la branche de déploiement que vous avez configurée.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "Identifiant de votre projet. Vous pouvez le copier à partir de la page [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de votre Dashboard.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Une réponse réussie",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusId": {
                      "type": "string",
                      "description": "L’identifiant de statut de la mise à jour déclenchée."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/project/update-status/{statusId}": {
      "get": {
        "summary": "Obtenir le statut de mise à jour",
        "description": "Récupérer le statut d’une mise à jour à partir de son identifiant de statut",
        "parameters": [
          {
            "name": "statusId",
            "in": "path",
            "description": "L’identifiant de statut de la mise à jour déclenchée.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Une réponse réussie",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string",
                      "description": "L’identifiant de statut de la mise à jour déclenchée."
                    },
                    "projectId": {
                      "type": "string",
                      "description": "L’identifiant du projet de documentation."
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "Une valeur ISODate correspondant à la date et à l’heure spécifiées en UTC"
                    },
                    "endedAt": {
                      "type": "string",
                      "description": "Une valeur ISODate correspondant à la date et à l’heure spécifiées en UTC"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "in_progress",
                        "success",
                        "failure"
                      ],
                      "description": "Le statut de la mise à jour."
                    },
                    "summary": {
                      "type": "string",
                      "description": "Récapitulatif de l’état de la mise à jour"
                    },
                    "logs": {
                      "type": "array",
                      "description": "Un tableau de logs.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "subdomain": {
                      "type": "string",
                      "description": "Le sous-domaine de la documentation en cours de mise à jour."
                    },
                    "screenshot": {
                      "type": "string",
                      "description": "Une capture d’écran de la documentation."
                    },
                    "screenshotLight": {
                      "type": "string",
                      "description": "Une capture d’écran de la doc."
                    },
                    "screenshotDark": {
                      "type": "string",
                      "description": "Une capture d’écran de la documentation en mode sombre."
                    },
                    "author": {
                      "type": "string",
                      "description": "L’auteur de la mise à jour."
                    },
                    "commit": {
                      "type": "object",
                      "description": "Les détails du commit",
                      "properties": {
                        "sha": {
                          "type": "string",
                          "description": "Le SHA du commit."
                        },
                        "ref": {
                          "type": "string",
                          "description": "La référence du commit."
                        },
                        "message": {
                          "type": "string",
                          "description": "Le message de commit."
                        },
                        "filesChanged": {
                          "type": "object",
                          "description": "Détails des fichiers modifiés.",
                          "properties": {
                            "added": {
                              "type": "array",
                              "description": "De nouveaux fichiers ont été ajoutés.",
                              "items": {
                                "type": "string"
                              }
                            },
                            "modified": {
                              "type": "array",
                              "description": "Fichiers existants modifiés.",
                              "items": {
                                "type": "string"
                              }
                            },
                            "removed": {
                              "type": "array",
                              "description": "Fichiers supprimés.",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "source": {
                      "type": "string",
                      "description": "La source du déclencheur de mise à jour.",
                      "enum": [
                        "internal",
                        "github-app-installation",
                        "api",
                        "github",
                        "dashboard"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}