{
  "openapi": "3.0.1",
  "info": {
    "title": "Mintlify External API",
    "description": "Une API pour gérer la documentation Mintlify et accéder aux ressources.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.mintlify.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "x-mcp": {
    "enabled": true
  },
  "paths": {
    "/project/update/{projectId}": {
      "post": {
        "summary": "Lancer la mise à jour",
        "description": "Mettez en file d’attente une mise à jour de déploiement pour votre projet de documentation. Retourne un identifiant de statut qui peut être utilisé pour suivre la progression de la mise à jour. La mise à jour est déclenchée à partir de la branche de déploiement que vous avez configurée.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "Identifiant de votre projet. Vous pouvez le copier à partir de la page [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de votre Dashboard.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Une réponse réussie",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusId": {
                      "type": "string",
                      "description": "L’identifiant de statut de la mise à jour déclenchée."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/project/update-status/{statusId}": {
      "get": {
        "summary": "Obtenir le statut de mise à jour",
        "description": "Récupérer le statut d’une mise à jour à partir de son identifiant de statut",
        "parameters": [
          {
            "name": "statusId",
            "in": "path",
            "description": "L’identifiant de statut de la mise à jour déclenchée.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Une réponse réussie",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string",
                      "description": "L’identifiant de statut de la mise à jour déclenchée."
                    },
                    "projectId": {
                      "type": "string",
                      "description": "L’identifiant du projet de documentation."
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "Une valeur ISODate correspondant à la date et à l’heure spécifiées en UTC"
                    },
                    "endedAt": {
                      "type": "string",
                      "description": "Une valeur ISODate correspondant à la date et à l’heure spécifiées en UTC"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "in_progress",
                        "success",
                        "failure"
                      ],
                      "description": "Le statut de la mise à jour."
                    },
                    "summary": {
                      "type": "string",
                      "description": "Récapitulatif de l’état de la mise à jour"
                    },
                    "logs": {
                      "type": "array",
                      "description": "Un tableau de logs.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "subdomain": {
                      "type": "string",
                      "description": "Le sous-domaine de la documentation en cours de mise à jour."
                    },
                    "screenshot": {
                      "type": "string",
                      "description": "Une capture d’écran de la documentation."
                    },
                    "screenshotLight": {
                      "type": "string",
                      "description": "Une capture d’écran de la doc."
                    },
                    "screenshotDark": {
                      "type": "string",
                      "description": "Une capture d’écran de la documentation en mode sombre."
                    },
                    "author": {
                      "type": "object",
                      "description": "L'auteur de la mise à jour.",
                      "nullable": true,
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Le nom de l'auteur."
                        },
                        "avatarUrl": {
                          "type": "string",
                          "description": "URL de l'avatar de l'auteur."
                        },
                        "githubUserId": {
                          "type": "number",
                          "description": "L'identifiant GitHub de l'auteur."
                        }
                      }
                    },
                    "commit": {
                      "type": "object",
                      "description": "Les détails du commit",
                      "properties": {
                        "sha": {
                          "type": "string",
                          "description": "Le SHA du commit."
                        },
                        "ref": {
                          "type": "string",
                          "description": "La référence du commit."
                        },
                        "message": {
                          "type": "string",
                          "description": "Le message de commit."
                        },
                        "filesChanged": {
                          "type": "object",
                          "description": "Détails des fichiers modifiés.",
                          "properties": {
                            "added": {
                              "type": "array",
                              "description": "De nouveaux fichiers ont été ajoutés.",
                              "items": {
                                "type": "string"
                              }
                            },
                            "modified": {
                              "type": "array",
                              "description": "Fichiers existants modifiés.",
                              "items": {
                                "type": "string"
                              }
                            },
                            "removed": {
                              "type": "array",
                              "description": "Fichiers supprimés.",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "source": {
                            "type": "string",
                            "description": "La source du déclencheur de mise à jour.",
                            "enum": [
                              "internal",
                              "github-app-installation",
                              "api",
                              "github",
                              "dashboard",
                              "gitlab",
                              "onboarding"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "/project/{projectId}/preview": {
            "post": {
              "summary": "Créer un déploiement de prévisualisation",
              "description": "Créez un déploiement de prévisualisation pour une branche spécifique. Le déploiement est construit de manière asynchrone. Utilisez le `statusId` retourné pour suivre l'état de la construction. Nécessite le droit `PREVIEW_DEPLOYMENTS`.",
              "parameters": [
                {
                  "name": "projectId",
                  "in": "path",
                  "description": "Identifiant de votre projet. Vous pouvez le copier à partir de la page [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de votre Dashboard.",
                  "required": true,
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "requestBody": {
                "required": true,
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "required": [
                        "branch"
                      ],
                      "properties": {
                        "branch": {
                          "type": "string",
                          "description": "La branche Git à partir de laquelle créer un déploiement de prévisualisation.",
                          "example": "feature/my-branch"
                        }
                      }
                    }
                  }
                }
              },
              "responses": {
                "202": {
                  "description": "La création du déploiement de prévisualisation a été mise en file d'attente.",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "statusId": {
                            "type": "string",
                            "description": "L'identifiant de statut pour suivre la progression de la construction."
                          },
                          "previewDeploymentId": {
                            "type": "string",
                            "description": "L'identifiant unique du déploiement de prévisualisation créé."
                          },
                          "subdomain": {
                            "type": "string",
                            "description": "Le sous-domaine attribué au déploiement de prévisualisation."
                          },
                          "previewUrl": {
                            "type": "string",
                            "description": "L'URL où le déploiement de prévisualisation est accessible."
                          }
                        }
                      }
                    }
                  }
                },
                "400": {
                  "description": "Requête invalide. La branche est manquante ou le projet source est lui-même un déploiement de prévisualisation.",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "error": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "get": {
              "summary": "Lister les déploiements de prévisualisation",
              "description": "Listez tous les déploiements de prévisualisation d'un projet. Retourne l'identifiant de déploiement, le sous-domaine, la branche et l'URL de prévisualisation pour chaque aperçu.",
              "parameters": [
                {
                  "name": "projectId",
                  "in": "path",
                  "description": "Identifiant de votre projet. Vous pouvez le copier à partir de la page [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de votre Dashboard.",
                  "required": true,
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "responses": {
                "200": {
                  "description": "Une liste de déploiements de prévisualisation.",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "previews": {
                            "type": "array",
                            "description": "Un tableau de déploiements de prévisualisation.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "L'identifiant du déploiement de prévisualisation."
                                },
                                "subdomain": {
                                  "type": "string",
                                  "description": "Le sous-domaine du déploiement de prévisualisation."
                                },
                                "branch": {
                                  "type": "string",
                                  "description": "La branche Git à partir de laquelle la prévisualisation a été créée."
                                },
                                "previewUrl": {
                                  "type": "string",
                                  "description": "L'URL où la prévisualisation est accessible."
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "/project/{projectId}/preview/{statusId}/status": {
            "get": {
              "summary": "Obtenir le statut du déploiement de prévisualisation",
              "description": "Obtenez le statut de construction d'un déploiement de prévisualisation en utilisant l'identifiant de statut retourné lors de la création de la prévisualisation.",
              "parameters": [
                {
                  "name": "projectId",
                  "in": "path",
                  "description": "Identifiant de votre projet. Vous pouvez le copier à partir de la page [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de votre Dashboard.",
                  "required": true,
                  "schema": {
                    "type": "string"
                  }
                },
                {
                  "name": "statusId",
                  "in": "path",
                  "description": "L'identifiant de statut retourné par l'endpoint de création de déploiement de prévisualisation.",
                  "required": true,
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "responses": {
                "200": {
                  "description": "Le statut de construction du déploiement de prévisualisation.",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "enum": [
                              "queued",
                              "in_progress",
                              "success",
                              "failure"
                            ],
                            "description": "Le statut actuel de la construction du déploiement de prévisualisation."
                          },
                          "previewUrl": {
                            "type": "string",
                            "description": "L'URL où le déploiement de prévisualisation est accessible."
                          },
                          "subdomain": {
                            "type": "string",
                            "description": "Le sous-domaine du déploiement de prévisualisation."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "Une date et heure au format ISO 8601 en UTC indiquant quand la construction a été créée."
                          },
                          "endedAt": {
                            "type": "string",
                            "description": "Une date et heure au format ISO 8601 en UTC indiquant quand la construction s'est terminée. Null si toujours en cours.",
                            "nullable": true
                          },
                          "summary": {
                            "type": "string",
                            "description": "Un résumé du résultat de la construction.",
                            "nullable": true
                          }
                        }
                      }
                    }
                  }
                },
                "404": {
                  "description": "L'identifiant de statut ou le déploiement de prévisualisation n'a pas été trouvé.",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "error": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "/project/{projectId}/preview/{previewDeploymentId}": {
            "delete": {
              "summary": "Supprimer un déploiement de prévisualisation",
              "description": "Supprimez un déploiement de prévisualisation et nettoyez le cache associé. Cette action est irréversible.",
              "parameters": [
                {
                  "name": "projectId",
                  "in": "path",
                  "description": "Identifiant de votre projet. Vous pouvez le copier à partir de la page [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de votre Dashboard.",
                  "required": true,
                  "schema": {
                    "type": "string"
                  }
                },
                {
                  "name": "previewDeploymentId",
                  "in": "path",
                  "description": "L'identifiant du déploiement de prévisualisation à supprimer.",
                  "required": true,
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "responses": {
                "200": {
                  "description": "Le déploiement de prévisualisation a été supprimé avec succès.",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "deleted": {
                            "type": "boolean",
                            "description": "Indique si le déploiement de prévisualisation a été supprimé."
                          }
                        }
                      }
                    }
                  }
                },
                "404": {
                  "description": "Le déploiement de prévisualisation n'a pas été trouvé.",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "error": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "components": {
          "securitySchemes": {
            "bearerAuth": {
              "type": "http",
              "scheme": "bearer",
              "description": "L'en-tête Authorization requiert un jeton Bearer. Utilisez une clé d'API administrateur (préfixée par `mint_`). Il s'agit d'une clé secrète utilisée côté serveur. Générez-en une depuis la page [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de votre Dashboard."
            }
          }
        }
      }
    },
    "/project/{projectId}/preview": {
      "post": {
        "summary": "Créer un déploiement de prévisualisation",
        "description": "Créez un déploiement de prévisualisation pour une branche spécifique. Le déploiement est construit de manière asynchrone. Utilisez le `statusId` retourné pour suivre l'état de la construction. Nécessite le droit `PREVIEW_DEPLOYMENTS`.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "Identifiant de votre projet. Vous pouvez le copier à partir de la page [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de votre Dashboard.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "branch"
                ],
                "properties": {
                  "branch": {
                    "type": "string",
                    "description": "La branche Git à partir de laquelle créer un déploiement de prévisualisation.",
                    "example": "feature/my-branch"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "La création du déploiement de prévisualisation a été mise en file d'attente.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusId": {
                      "type": "string",
                      "description": "L'identifiant de statut pour suivre la progression de la construction."
                    },
                    "previewDeploymentId": {
                      "type": "string",
                      "description": "L'identifiant unique du déploiement de prévisualisation créé."
                    },
                    "subdomain": {
                      "type": "string",
                      "description": "Le sous-domaine attribué au déploiement de prévisualisation."
                    },
                    "previewUrl": {
                      "type": "string",
                      "description": "L'URL où le déploiement de prévisualisation est accessible."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Requête invalide. La branche est manquante ou le projet source est lui-même un déploiement de prévisualisation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
