{
  "openapi": "3.0.1",
  "info": {
    "title": "API d’export statique Mintlify",
    "description": "Générez par programmation un export statique autonome de votre documentation et téléchargez-le sous forme d’un seul paquet. Disponible sur les plans Enterprise.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.mintlify.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/static-export/{projectId}/jobs": {
      "post": {
        "summary": "Lancer une tâche d’export statique",
        "description": "Lance une tâche d’export statique pour un déploiement. La tâche pré-rend votre documentation sous la forme d’un ensemble autonome de fichiers HTML, RSC et ressources statiques, puis empaquette le résultat dans une seule archive téléchargeable.\n\nUn déploiement ne peut avoir qu’une seule tâche d’export statique active à la fois. Lancer une tâche alors qu’une autre est `queued` ou `running` retourne `409`. L’endpoint est limité à 10 démarrages de tâche par organisation et par heure.\n\nL’export statique est disponible sur les plans Enterprise.\n\nAuthentifiez-vous avec une clé d'API administrateur.",
        "operationId": "startStaticExportJob",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "responses": {
          "202": {
            "description": "La tâche d’export a été acceptée et mise en file d’attente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaticExportJob"
                }
              }
            }
          },
          "401": {
            "description": "L’authentification a échoué.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "L’export statique n’est pas activé pour ce déploiement. Contactez sales@mintlify.com pour effectuer une mise à niveau.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Une tâche d’export statique est déjà en cours pour ce déploiement. Attendez la fin de la tâche active avant d’en lancer une nouvelle.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Limite de débit dépassée. L’API d’export statique autorise jusqu’à 10 démarrages de tâche par organisation et par heure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/static-export/{projectId}/jobs/{jobId}": {
      "get": {
        "summary": "Obtenir le statut d’une tâche d’export statique",
        "description": "Récupère le statut actuel d’une tâche d’export statique. Interrogez cet endpoint après avoir lancé une tâche jusqu’à ce que `status` soit `completed` (ou `failed`).\n\nUne fois la tâche terminée, la réponse inclut `bundleUrl`, `sizeBytes` et `expiresAt`. `bundleUrl` est un lien S3 présigné limité dans le temps. Téléchargez le paquet avant l’horodatage `expiresAt`. Rappelez cet endpoint pour obtenir un nouveau lien. Les fichiers d’export sous-jacents restent réutilisables.\n\nL’export statique est disponible sur les plans Enterprise.\n\nAuthentifiez-vous avec une clé d'API administrateur.",
        "operationId": "getStaticExportJob",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "name": "jobId",
            "in": "path",
            "description": "L’identifiant de la tâche d’export statique retourné par `Start static export job`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "L’état actuel de la tâche d’export.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaticExportJob"
                }
              }
            }
          },
          "401": {
            "description": "L’authentification a échoué.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "L’export statique n’est pas activé pour ce déploiement. Contactez sales@mintlify.com pour effectuer une mise à niveau.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Aucune tâche n’existe avec l’identifiant fourni pour ce déploiement.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "L'en-tête Authorization requiert un jeton Bearer. Utilisez une clé d'API administrateur. Il s'agit d'une clé secrète côté serveur. Générez-en une depuis la [page des clés d'API](https://app.mintlify.com/settings/organization/api-keys) de votre Dashboard."
      }
    },
    "parameters": {
      "projectId": {
        "schema": {
          "type": "string",
          "description": "L’identifiant de votre projet. Peut être copié depuis la [page des clés d'API](https://app.mintlify.com/settings/organization/api-keys) de votre Dashboard."
        },
        "required": true,
        "name": "projectId",
        "in": "path"
      }
    },
    "schemas": {
      "StaticExportJob": {
        "type": "object",
        "required": ["jobId", "status", "createdAt", "updatedAt"],
        "properties": {
          "jobId": {
            "type": "string",
            "description": "Identifiant unique de la tâche d’export statique.",
            "example": "6520f3a1c9b1a20012ab34cd"
          },
          "status": {
            "type": "string",
            "description": "L’état actuel de la tâche.",
            "enum": ["queued", "running", "completed", "failed"],
            "example": "completed"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date de création de la tâche."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date du dernier changement d’état de la tâche."
          },
          "error": {
            "type": "string",
            "description": "Un message d’erreur lisible par un humain. Présent uniquement lorsque `status` est `failed`, sinon `null`.",
            "nullable": true
          },
          "bundleUrl": {
            "type": "string",
            "format": "uri",
            "description": "Un lien S3 présigné limité dans le temps vers l’archive du paquet d’export statique. Présent uniquement lorsque `status` est `completed`. Téléchargez le paquet avant `expiresAt`. Rappelez cet endpoint pour obtenir un nouveau lien.",
            "example": "https://mintlify-static-exports.s3.amazonaws.com/6520f3a1c9b1a20012ab34cd/export.zip?X-Amz-Signature=..."
          },
          "sizeBytes": {
            "type": "integer",
            "description": "La taille du paquet en octets. Présent uniquement lorsque `status` est `completed`.",
            "example": 18432000
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date d’expiration de la `bundleUrl` actuelle. Présent uniquement lorsque `status` est `completed`."
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Une description de l’erreur lisible par un humain."
          }
        }
      }
    }
  }
}
