{
  "openapi": "3.0.1",
  "info": {
    "title": "API de recherche universelle Mintlify",
    "description": "Recherchez dans la documentation hébergée par Mintlify et sur le web avec une seule requête.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.mintlify.com/universal-search/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/search": {
      "post": {
        "summary": "Rechercher dans la documentation et sur le web",
        "description": "Exécute une seule requête sur la documentation hébergée par Mintlify et sur des fournisseurs de recherche web, fusionne les résultats et les renvoie classés par pertinence. Renvoie éventuellement le contenu complet de la page pour chaque résultat.\n\nAuthentifiez-vous avec une clé d'API de recherche universelle.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "numResults"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "La requête de recherche à exécuter. Doit être une chaîne non vide."
                  },
                  "numResults": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20,
                    "description": "Le nombre maximum de résultats à renvoyer. Doit être compris entre 1 et 20."
                  },
                  "text": {
                    "description": "Contrôle si le contenu de la page est renvoyé avec chaque résultat. Omettez-le ou définissez-le sur `false` pour ne renvoyer que les métadonnées. Définissez-le sur `true` pour renvoyer le contenu complet de la page. Passez un objet avec `maxCharacters` pour renvoyer le contenu tronqué à une limite de caractères. La troncature préserve un Markdown valide en fermant les blocs de code ouverts.",
                    "oneOf": [
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "object",
                        "required": [
                          "maxCharacters"
                        ],
                        "properties": {
                          "maxCharacters": {
                            "type": "integer",
                            "minimum": 1,
                            "description": "Le nombre maximum de caractères du contenu de la page renvoyé par résultat."
                          }
                        }
                      }
                    ]
                  },
                  "includeDomains": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "string"
                    },
                    "description": "Restreindre les résultats web à ces domaines. Les résultats hébergés par Mintlify ne sont pas affectés."
                  },
                  "excludeDomains": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "string"
                    },
                    "description": "Exclure les résultats web de ces domaines. Les résultats hébergés par Mintlify ne sont pas affectés."
                  }
                }
              },
              "examples": {
                "basic": {
                  "summary": "Recherche de base avec contenu de page tronqué",
                  "value": {
                    "query": "How do I create a Stripe charge?",
                    "numResults": 10,
                    "text": {
                      "maxCharacters": 4000
                    }
                  }
                },
                "filtered": {
                  "summary": "Filtrer les résultats web par domaine",
                  "value": {
                    "query": "authentication setup",
                    "numResults": 10,
                    "text": {
                      "maxCharacters": 4000
                    },
                    "includeDomains": [
                      "docs.stripe.com"
                    ],
                    "excludeDomains": [
                      "example.com"
                    ]
                  }
                },
                "fullText": {
                  "summary": "Renvoyer le contenu complet de la page",
                  "value": {
                    "query": "How do I create a Stripe charge?",
                    "numResults": 10,
                    "text": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Résultats de la recherche.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "requestId",
                    "results"
                  ],
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Un identifiant unique pour cette requête. Incluez-le lorsque vous contactez le support."
                    },
                    "results": {
                      "type": "array",
                      "description": "La liste fusionnée des résultats, classée par pertinence. Les résultats avec `source: \"mintlify\"` proviennent de la documentation hébergée par Mintlify ; les résultats avec `source: \"web\"` proviennent du web.",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "url",
                          "title",
                          "text",
                          "score",
                          "source",
                          "siteName",
                          "breadcrumbs",
                          "publishedDate"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Un identifiant stable pour le résultat. Pour les résultats Mintlify, il s'agit de l'ID de groupe de la page ; pour les résultats web, il s'agit de l'URL."
                          },
                          "url": {
                            "type": "string",
                            "format": "uri",
                            "description": "L'URL canonique du résultat."
                          },
                          "title": {
                            "type": "string",
                            "description": "Le titre de la page."
                          },
                          "text": {
                            "type": "string",
                            "description": "Le contenu de la page. Vide lorsque `text` est omis ou défini sur `false`. Tronqué lorsque `text.maxCharacters` est fourni."
                          },
                          "score": {
                            "type": "number",
                            "description": "Le score de pertinence de ce résultat."
                          },
                          "source": {
                            "type": "string",
                            "enum": [
                              "mintlify",
                              "web"
                            ],
                            "description": "D'où provient le résultat."
                          },
                          "siteName": {
                            "type": "string",
                            "description": "Le nom du site d'où provient le résultat. Pour les résultats Mintlify, il s'agit du sous-domaine du déploiement ; pour les résultats web, il s'agit du nom d'hôte."
                          },
                          "breadcrumbs": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Le fil d'Ariane de navigation de la page. Renseigné uniquement pour les résultats Mintlify."
                          },
                          "publishedDate": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true,
                            "description": "La date de publication indiquée par la source, lorsque disponible."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Corps de requête invalide.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Clé d'API manquante ou invalide.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Limite de débit dépassée.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "La recherche a échoué.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "L'en-tête Authorization attend un token Bearer. Utilisez une clé d'API de recherche universelle. Générez-en une sur la [page des clés API](https://app.mintlify.com/settings/organization/api-keys) de votre tableau de bord."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Description lisible de l'erreur."
          }
        }
      }
    }
  }
}
