{
  "openapi": "3.0.1",
  "info": {
    "title": "Mintlify Assistant API",
    "description": "用于将 Mintlify 的发现功能集成到你的产品中的 API。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-dsc.mintlify.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/assistant/{domain}/message": {
      "post": {
        "x-mcp": {
          "enabled": true
        },
        "summary": "AI 助手消息",
        "description": "为指定的 domain 生成一条由 AI 助手提供的响应消息。",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "来自你的 `domain.mintlify.app` URL 的 domain 标识符。你可以在控制台 URL 的末尾找到它。例如，`dashboard.mintlify.com/organization/domain` 的 domain 标识符是 `domain`。"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fp",
                  "messages"
                ],
                "properties": {
                  "fp": {
                    "type": "string",
                    "description": "用于追踪会话会话的指纹标识符。对匿名用户使用“anonymous”，或为用户提供唯一的用户标识符。"
                  },
                  "threadId": {
                    "default": null,
                    "type": "string",
                    "description": "一个可选的标识符，用于在多条消息之间保持会话的连续性。提供该标识符后，系统就可以将后续消息与同一个会话线程关联起来。在响应中，当 event.type === 'finish' 时，会以 event.threadId 的形式返回 threadId。"
                  },
                  "messages": {
                    "type": "array",
                    "default": [
                      {
                        "id": "foobar",
                        "role": "user",
                        "content": "how do i get started",
                        "parts": [
                          {
                            "type": "text",
                            "text": "How do I get started"
                          }
                        ]
                      }
                    ],
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "该消息的唯一标识符"
                        },
                        "role": {
                          "type": "string",
                          "enum": [
                            "system",
                            "assistant",
                            "data",
                            "user"
                          ],
                          "description": "消息发送方的角色"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "消息创建时间戳"
                        },
                        "content": {
                          "type": "string",
                          "description": "消息内容"
                        },
                        "annotations": {
                          "type": "array",
                          "items": {},
                          "description": "该消息的可选注解数组"
                        },
                        "parts": {
                          "type": "array",
                          "items": {
                            "oneOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "text"
                                    ]
                                  },
                                  "text": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "type",
                                  "text"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "reasoning"
                                    ]
                                  },
                                  "reasoning": {
                                    "type": "string"
                                  },
                                  "details": {
                                    "type": "array",
                                    "items": {
                                      "oneOf": [
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "text"
                                              ]
                                            },
                                            "text": {
                                              "type": "string"
                                            },
                                            "signature": {
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "type",
                                            "text"
                                          ]
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "redacted"
                                              ]
                                            },
                                            "data": {
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "type",
                                            "data"
                                          ]
                                        }
                                      ]
                                    }
                                  }
                                },
                                "required": [
                                  "type",
                                  "reasoning",
                                  "details"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "step-start"
                                    ]
                                  }
                                },
                                "required": [
                                  "type"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "source"
                                    ]
                                  },
                                  "source": {
                                    "type": "object",
                                    "properties": {
                                      "sourceType": {
                                        "type": "string",
                                        "enum": [
                                          "url"
                                        ]
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "url": {
                                        "type": "string"
                                      },
                                      "title": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "sourceType",
                                      "id",
                                      "url"
                                    ]
                                  }
                                },
                                "required": [
                                  "type",
                                  "source"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "tool-invocation"
                                    ]
                                  },
                                  "toolInvocation": {
                                    "oneOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "state": {
                                            "type": "string",
                                            "enum": [
                                              "partial-call"
                                            ]
                                          },
                                          "step": {
                                            "type": "number"
                                          },
                                          "toolCallId": {
                                            "type": "string"
                                          },
                                          "toolName": {
                                            "type": "string"
                                          },
                                          "args": {}
                                        },
                                        "required": [
                                          "state",
                                          "toolCallId",
                                          "toolName",
                                          "args"
                                        ]
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "state": {
                                            "type": "string",
                                            "enum": [
                                              "call"
                                            ]
                                          },
                                          "step": {
                                            "type": "number"
                                          },
                                          "toolCallId": {
                                            "type": "string"
                                          },
                                          "toolName": {
                                            "type": "string"
                                          },
                                          "args": {}
                                        },
                                        "required": [
                                          "state",
                                          "toolCallId",
                                          "toolName",
                                          "args"
                                        ]
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "state": {
                                            "type": "string",
                                            "enum": [
                                              "result"
                                            ]
                                          },
                                          "step": {
                                            "type": "number"
                                          },
                                          "toolCallId": {
                                            "type": "string"
                                          },
                                          "toolName": {
                                            "type": "string"
                                          },
                                          "args": {},
                                          "result": {}
                                        },
                                        "required": [
                                          "state",
                                          "toolCallId",
                                          "toolName",
                                          "args",
                                          "result"
                                        ]
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "type",
                                  "toolInvocation"
                                ]
                              }
                            ]
                          },
                          "description": "由多种类型的消息片段组成的数组，包括文本、推理过程、来源信息和工具调用"
                        },
                        "experimental_attachments": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "contentType": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "url"
                            ]
                          },
                          "description": "消息可选的实验性附件数组"
                        }
                      },
                      "required": [
                        "id",
                        "role",
                        "content",
                        "parts"
                      ]
                    },
                    "description": "会话中的消息数组。在前端开发中，你通常会希望使用 @ai-sdk 包中 useChat hook 提供的 handleSubmit 函数来追加用户消息并处理流式响应，而不是在这个数组中手动定义这些对象，因为它们包含的参数非常多。"
                  },
                  "retrievalPageSize": {
                    "type": "number",
                    "default": 5,
                    "description": "用于生成回复时参考的文档搜索结果数量。值越大，可提供的上下文越多，但可能会增加响应时间。推荐值：5。"
                  },
                  "filter": {
                    "type": "object",
                    "default": null,
                    "properties": {
                      "version": {
                        "type": "string",
                        "description": "可选版本筛选器"
                      },
                      "language": {
                        "type": "string",
                        "description": "可选语言筛选器"
                      }
                    },
                    "description": "用于搜索的可选筛选条件"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "消息已成功生成",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "响应对象会以指定的状态码、响应头和内容来流式传输格式化的数据流片段。这与 AI SDK 在文档 [ai-sdk.dev/docs/ai-sdk-ui/streaming-data](https://ai-sdk.dev/docs/ai-sdk-ui/streaming-data) 中所述的预期格式一致。与其编写你自己的解析器，推荐使用 AI SDK 中的 useChat hook（详见文档：[链接](https://ai-sdk.dev/docs/reference/ai-sdk-ui/use-chat#usechat)）。"
                }
              }
            }
          }
        }
      }
    },
    "/search/{domain}": {
      "post": {
        "summary": "搜索文档",
        "description": "在你的文档中执行语义和关键词搜索，并支持可配置的过滤和分页。",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "来自你的 `domain.mintlify.app` URL 中的 domain 标识符。可以在你的控制台 URL 末尾找到。例如，`dashboard.mintlify.com/organization/domain` 的 domain 标识符是 `domain`。"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "用于在你的文档内容中执行搜索的查询。"
                  },
                  "pageSize": {
                    "type": "number",
                    "default": 10,
                    "description": "要返回的搜索结果数量。如果未指定，则默认为 10。"
                  },
                  "filter": {
                    "type": "object",
                    "description": "用于缩小搜索结果范围的可选筛选参数。",
                    "properties": {
                      "version": {
                        "type": "string",
                        "description": "根据文档版本筛选结果。"
                      },
                      "language": {
                        "type": "string",
                        "description": "根据内容语言筛选结果。"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "搜索结果",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "content": {
                        "type": "string",
                        "description": "您文档中与之匹配的内容。"
                      },
                      "path": {
                        "type": "string",
                        "description": "源文档所在的路径或 URL。"
                      },
                      "metadata": {
                        "type": "object",
                        "description": "关于搜索结果的额外 metadata。"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authorization 标头需要使用 Bearer 令牌。关于如何获取 API key 的详细信息，请参阅 [Assistant API Key 文档](/docs/api-reference/introduction#assistant-api-key)。"
      }
    }
  }
}