{
  "openapi": "3.0.1",
  "info": {
    "title": "Mintlify 通用搜索 API",
    "description": "使用单个查询同时搜索 Mintlify 托管的文档和整个网络。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.mintlify.com/universal-search/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/search": {
      "post": {
        "summary": "在文档和网络中搜索",
        "description": "使用单个查询同时搜索 Mintlify 托管的文档和网络搜索提供商，合并结果并按相关性排序返回。可选择返回每个结果的完整页面内容。\n\n使用通用搜索 API key 进行身份验证。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "numResults"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "要运行的搜索查询。必须为非空字符串。"
                  },
                  "numResults": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20,
                    "description": "返回的最大结果数。必须在 1 到 20 之间。"
                  },
                  "text": {
                    "description": "控制是否随每个结果返回页面内容。省略或设置为 `false` 时仅返回元数据。设置为 `true` 时返回完整的页面内容。传递带 `maxCharacters` 的对象可将内容截断到字符上限。截断会闭合未关闭的代码块，保持 Markdown 有效。",
                    "oneOf": [
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "object",
                        "required": [
                          "maxCharacters"
                        ],
                        "properties": {
                          "maxCharacters": {
                            "type": "integer",
                            "minimum": 1,
                            "description": "每个结果返回的页面内容的最大字符数。"
                          }
                        }
                      }
                    ]
                  },
                  "includeDomains": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "string"
                    },
                    "description": "将网络结果限制在这些域名内。Mintlify 托管的结果不受影响。"
                  },
                  "excludeDomains": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "string"
                    },
                    "description": "排除这些域名的网络结果。Mintlify 托管的结果不受影响。"
                  }
                }
              },
              "examples": {
                "basic": {
                  "summary": "带截断页面内容的基本搜索",
                  "value": {
                    "query": "How do I create a Stripe charge?",
                    "numResults": 10,
                    "text": {
                      "maxCharacters": 4000
                    }
                  }
                },
                "filtered": {
                  "summary": "按域名过滤网络结果",
                  "value": {
                    "query": "authentication setup",
                    "numResults": 10,
                    "text": {
                      "maxCharacters": 4000
                    },
                    "includeDomains": [
                      "docs.stripe.com"
                    ],
                    "excludeDomains": [
                      "example.com"
                    ]
                  }
                },
                "fullText": {
                  "summary": "返回完整的页面内容",
                  "value": {
                    "query": "How do I create a Stripe charge?",
                    "numResults": 10,
                    "text": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "搜索结果。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "requestId",
                    "results"
                  ],
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "此请求的唯一标识符。联系支持时请附带此值。"
                    },
                    "results": {
                      "type": "array",
                      "description": "合并后的结果列表，按相关性排序。`source: \"mintlify\"` 的结果来自 Mintlify 托管的文档；`source: \"web\"` 的结果来自互联网。",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "url",
                          "title",
                          "text",
                          "score",
                          "source",
                          "siteName",
                          "breadcrumbs",
                          "publishedDate"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "结果的稳定标识符。对于 Mintlify 结果，此值为页面分组 ID；对于网络结果，此值为 URL。"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri",
                            "description": "结果的规范 URL。"
                          },
                          "title": {
                            "type": "string",
                            "description": "页面的标题。"
                          },
                          "text": {
                            "type": "string",
                            "description": "页面内容。当 `text` 被省略或设置为 `false` 时为空。当提供 `text.maxCharacters` 时会被截断。"
                          },
                          "score": {
                            "type": "number",
                            "description": "此结果的相关性得分。"
                          },
                          "source": {
                            "type": "string",
                            "enum": [
                              "mintlify",
                              "web"
                            ],
                            "description": "结果的来源。"
                          },
                          "siteName": {
                            "type": "string",
                            "description": "结果所属站点的名称。对于 Mintlify 结果，此值为部署子域名；对于网络结果，此值为主机名。"
                          },
                          "breadcrumbs": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "页面的导航面包屑。仅针对 Mintlify 结果填充。"
                          },
                          "publishedDate": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true,
                            "description": "来源报告的发布日期（如果可用）。"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求体无效。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "缺少或无效的 API key。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "超出速率限制。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "搜索失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authorization 请求头需要 Bearer token。请使用通用搜索 API key。在仪表板的 [API 密钥页面](https://app.mintlify.com/settings/organization/api-keys) 生成一个。"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "错误的可读描述。"
          }
        }
      }
    }
  }
}
